<div class="pb-56 pt-12 m-4 min-h-50-screen items-start rounded-xl p-0 relative overflow-hidden flex bg-cover bg-center bg-[url('../../assets/img/curved-images/curved8.jpg')]">
  <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover opacity-60 bg-gradient-to-tl from-gray-900 to-slate-800"></span>
</div>
<div class="container">
  <div class="flex flex-wrap justify-center -mx-3 -mt-48 lg:-mt-48 md:-mt-56">
    <div class="w-full max-w-full px-3 mx-auto shrink-0 md:flex-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
      <div class="relative flex flex-col min-w-0 break-words bg-white border-0 lg:py-4 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
        <div class="flex-auto p-6 text-center">
          <div class="mb-6">
            <img class="inline-flex items-center justify-center text-white transition-all duration-200 text-base rounded-xl ease-soft-in-out w-28 h-28" src="https://demos.creative-tim.com/soft-ui-dashboard-pro/assets/img/team-4.jpg" alt="Avatar image">
          </div>
          <h4 class="mb-0 font-bold">Mike Priesler</h4>
          <p class="mb-6">Enter password to unlock your account.</p>
          <form role="form">
            <div class="mb-4">
              <input type="password" placeholder="Password" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
            </div>
            <div class="text-center">
              <button type="button" class="inline-block px-16 py-3.5 mb-0 mt-4 font-bold text-center text-white uppercase align-middle transition-all border-0 rounded-lg cursor-pointer hover:scale-102 active:opacity-85 hover:shadow-soft-xs dark:bg-gradient-to-tl dark:from-slate-850 dark:to-gray-850 bg-gradient-to-tl from-gray-900 to-slate-800 leading-pro text-sm ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25">Unlock</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>