---
layout: default
slug: Charts
folder: Pages
---

<div class="w-full p-6 mx-auto">
  <div class="flex flex-wrap -mx-3">
    <div class="w-full max-w-full px-3 shrink-0 md:flex-0 md:w-6/12">
      <h5 class="mb-0 dark:text-white">Charts</h5>
      <p class="mb-0 leading-normal text-sm">
        Charts on this page use Chart.js - Simple yet flexible JavaScript charting for designers & developers.
      </p>
    </div>
  </div>

  {% include components/pages/charts/line-chart.html %}
  {% include components/pages/charts/bar-chart.html %}
  {% include components/pages/charts/mixed-chart.html %}
  {% include components/pages/charts/doughnut-chart.html %}
  {% include components/pages/charts/radar-chart.html %}
</div>
