---
layout: default
slug: Settings
folder: Pages
subfolder: Account
---

{% include components/pages/account/tabs.html %}
<div class="w-full p-6 py-4 mx-auto my-4">
  <div class="flex flex-wrap mb-12 -mx-3">
    {% include components/pages/account/settings/navigation.html %}

    <div class="w-full max-w-full px-3 lg:flex-0 shrink-0 lg:w-9/12">
      {% include components/pages/account/settings/profile.html %}
      {% include components/pages/account/settings/basic-info.html %}
      {% include components/pages/account/settings/change-password.html %}
      {% include components/pages/account/settings/2fa.html %}
      {% include components/pages/account/settings/accounts.html %}
      {% include components/pages/account/settings/notifications.html %}
      {% include components/pages/account/settings/sessions.html %}
      {% include components/pages/account/settings/delete-account.html %}
    </div>
  </div>
</div>