<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 flex-0">
    <div class="shadow-soft-xl dark:bg-gray-950 dark:shadow-soft-dark-xl border-black/12.5 bg-gradient-to-tl from-gray-900 to-slate-800 relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-clip-border dark:bg-none">
      <div class="border-b-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-transparent p-6">
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 flex-0 md:w-6/12 lg:w-4/12">
            <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
              <span class="leading-5.6 z-990 text-sm absolute -ml-px flex h-full items-center whitespace-nowrap rounded-l-lg border-0 bg-transparent p-3 text-center font-normal text-white">
                <i class="text-lg ni leading-none ni-zoom-split-in"></i>
              </span>
              <input class="leading-5.6 ease-soft text-sm pl-9 focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 relative block min-w-0 flex-auto appearance-none rounded-lg border-0 bg-transparent bg-clip-padding p-3 font-normal text-white transition-all placeholder:text-gray-500 focus:outline-none" type="text" placeholder="Search anything..." />
            </div>
          </div>
          <div class="w-full max-w-full px-3 my-auto ml-auto flex-0 md:w-6/12 lg:w-6/12">
            <div class="flex items-center">
              <i class="ml-auto text-white ni leading-none ni-headphones text-lg" data-target="tooltip_trigger"></i>
              <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" data-popper-placement="top">
                Headphones connected
                <div id="arrow" class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
              </div>
              <i class="ml-4 text-white ni leading-none ni-button-play text-lg" data-target="tooltip_trigger"></i>
              <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" data-popper-placement="top">
                Music is playing
                <div id="arrow" class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
              </div>
              <i class="ml-4 text-white ni leading-none ni-button-power text-lg" data-target="tooltip_trigger"></i>
              <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" data-popper-placement="top">
                Start radio
                <div id="arrow" class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
              </div>
              <i class="ml-4 text-white ni leading-none ni-watch-time text-lg" data-target="tooltip_trigger"></i>
              <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" data-popper-placement="top">
                Time tracker
                <div id="arrow" class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
              </div>
              <h4 class="mb-1 ml-6 text-white">10:45</h4>
            </div>
          </div>
        </div>
        <hr class="h-px bg-gradient-to-r from-transparent via-white to-transparent" />
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 flex-0 md:w-6/12 lg:w-4/12">
            <div class="relative flex items-center">
              <h3 class="mb-1 text-white">11:13</h3>
              <p class="mb-1 ml-4 text-white opacity-80">Estimated arrival time</p>
              <hr class="absolute top-0 right-0 w-px h-full mt-0 bg-gradient-to-b from-transparent via-white to-transparent" />
            </div>
          </div>
          <div class="w-full max-w-full px-3 flex-0 md:w-6/12 lg:w-4/12">
            <div class="relative flex items-center">
              <h3 class="mb-1 ml-auto text-white">2.4<small class="leading-normal align-top text-sm">Km</small></h3>
              <p class="mb-1 ml-4 mr-auto text-white opacity-80">Turn right in 2.4 miles</p>
              <hr class="absolute top-0 right-0 w-px h-full mt-0 bg-gradient-to-b from-transparent via-white to-transparent" />
            </div>
          </div>
          <div class="w-full max-w-full px-3 flex-0 md:w-6/12 lg:ml-auto lg:w-4/12">
            <div class="flex items-center">
              <h3 class="mb-1 text-white lg:ml-auto">6.3<small class="leading-normal align-top text-sm">Km</small></h3>
              <p class="mb-1 ml-4 text-white opacity-80">Distance to Creative Tim</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-auto p-0">
        <div id="mapid" class="leaflet"></div>
      </div>
      <div class="border-t-black/12.5 mt-0 rounded-b-2xl border-t-0 border-solid bg-transparent p-6">
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 flex-0 md:w-6/12 lg:w-4/12">
            <div class="flex items-center">
              <div class="relative">
                <div class="inline-flex items-center justify-center text-white transition-all duration-200 ease-soft-in-out w-14 h-14 text-sm rounded-xl">
                  <img src="../../assets/img/curved-images/curved10.jpg" alt="kal" class="w-full rounded-circle shadow-soft-2xl" />
                </div>
                <img src="../../assets/img/small-logos/logo-spotify.svg" alt="spotify logo" class="absolute bottom-0 right-0 w-3/5 mb-0 -mr-4" />
              </div>
              <div class="px-4">
                <p class="mb-0 font-semibold leading-normal text-white text-sm">You're Mines Still (feat Drake)</p>
                <p class="mb-2 leading-tight text-white text-xs opacity-80">Yung Bleu - Hip-Hop</p>
              </div>
            </div>
          </div>
          <div class="w-full max-w-full px-3 my-auto mt-3 text-center flex-0 md:w-6/12 lg:mt-0 lg:w-4/12">
            <div class="flex items-center">
              <button class="inline-block p-4 mb-0 ml-auto font-bold text-center text-white uppercase align-middle transition-all border border-solid shadow-none cursor-pointer leading-pro text-sm active:opacity-85 active:shadow-soft-xs ease-soft-in tracking-tight-soft w-13 h-13 rounded-7 border-white/75 bg-white/10 hover:border-white hover:bg-transparent hover:text-white hover:opacity-75 hover:shadow-none active:border-white active:bg-white active:text-black hover:active:border-white hover:active:bg-transparent hover:active:text-white hover:active:opacity-75 hover:active:shadow-none">
                <i class="ni leading-none ni-button-play text-4.8 relative top-0 rotate-180" aria-hidden="true"></i>
              </button>
              <button class="inline-block p-4 mb-0 ml-6 font-bold text-center text-white uppercase align-middle transition-all border border-solid shadow-none cursor-pointer leading-pro text-sm active:opacity-85 active:shadow-soft-xs ease-soft-in tracking-tight-soft w-13 h-13 rounded-7 border-white/75 bg-white/10 hover:border-white hover:bg-transparent hover:text-white hover:opacity-75 hover:shadow-none active:border-white active:bg-white active:text-black hover:active:border-white hover:active:bg-transparent hover:active:text-white hover:active:opacity-75 hover:active:shadow-none">
                <i class="ni leading-none ni-button-pause text-4.8 relative top-0" aria-hidden="true"></i>
              </button>
              <button class="inline-block p-4 mb-0 ml-6 mr-auto font-bold text-center text-white uppercase align-middle transition-all border border-solid shadow-none cursor-pointer leading-pro text-sm active:opacity-85 active:shadow-soft-xs ease-soft-in tracking-tight-soft w-13 h-13 rounded-7 border-white/75 bg-white/10 hover:border-white hover:bg-transparent hover:text-white hover:opacity-75 hover:shadow-none active:border-white active:bg-white active:text-black hover:active:border-white hover:active:bg-transparent hover:active:text-white hover:active:opacity-75 hover:active:shadow-none">
                <i class="ni leading-none ni-button-play text-4.8 relative top-0" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="w-8/12 max-w-full px-3 my-auto flex-0 md:w-6/12 lg:w-2/12">
            <p class="mb-2 text-white">Volume</p>
            <div id="sliderRegular"></div>
          </div>
          <div class="w-4/12 max-w-full px-3 my-auto ml-auto flex-0 md:w-6/12 lg:w-1/12">
            <i class="mt-4 ml-auto text-white ni leading-none ni-bullet-list-67" data-target="tooltip_trigger"></i>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" data-popper-placement="top">
              Hide menu
              <div id="arrow" class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
            <i class="mt-4 ml-4 text-white ni leading-none ni-chat-round" data-target="tooltip_trigger"></i>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" data-popper-placement="top">
              Track messages
              <div id="arrow" class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>