<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-4 pb-0">
        <h6 class="mb-1 dark:text-white">Change password</h6>
        <p class="mb-0 leading-normal text-sm dark:text-white/60">We will send you an email with the verification code.</p>
      </div>
      <div class="flex-auto p-4">
        <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Current password">Current password</label>
        <div class="mb-4">
          <input type="password" name="Current password" placeholder="Current password" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
        </div>
        <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="New password">New password</label>
        <div class="mb-4">
          <input type="password" name="New password" placeholder="New password" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
        </div>
        <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Confirm password">Confirm new password</label>
        <div class="mb-4">
          <input type="password" name="Confirm password" placeholder="Confirm password" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
        </div>
        <button type="button" href="javascript:;" class="inline-block w-full px-6 py-3 mb-0 font-bold text-center text-white uppercase align-middle transition-all border-0 rounded-lg cursor-pointer hover:scale-102 active:opacity-85 hover:shadow-soft-xs dark:bg-gradient-to-tl dark:from-slate-850 dark:to-gray-850 bg-gradient-to-tl from-gray-900 to-slate-800 leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25">Update Password</button>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 md:flex-0 shrink-0 md:mt-0 md:w-6/12">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-4 pb-0">
        <h6 class="mb-1 dark:text-white">Password requirements</h6>
        <p class="mb-0 leading-normal text-sm dark:text-white/60">Please follow this guide for a strong password:</p>
      </div>

      <div class="flex-auto p-4">
        <ul class="float-left pl-6 mb-0 list-disc text-slate-500">
          <li>
            <span class="leading-normal text-sm">One special characters</span>
          </li>
          <li>
            <span class="leading-normal text-sm">Min 6 characters</span>
          </li>
          <li>
            <span class="leading-normal text-sm">One number (2 are recommended)</span>
          </li>
          <li>
            <span class="leading-normal text-sm">Change it often</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>