<div class="flex flex-wrap -mx-3">
  <div class="w-full max-w-full px-3 mx-auto sm:flex-0 shrink-0 sm:w-10/12 md:w-8/12">
    <form action="index.html" method="post">
      <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border sm:my-12">
        <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6 text-center">
          <div class="flex flex-wrap justify-between -mx-3">
            <div class="w-full max-w-full px-3 text-left md:flex-0 shrink-0 md:w-4/12">
              <img class="block w-1/4 p-2 mb-2 dark:hidden" src="../../../assets/img/logo-ct-dark.png" alt="Logo" />
              <img class="hidden w-1/4 p-2 mb-2 dark:block" src="../../../assets/img/logo-ct.png" alt="Logo" />
              <h6 class="dark:text-white">St. Independence Embankment, 050105 Bucharest, Romania</h6>
              <p class="block text-slate-400 dark:text-white dark:opacity-80">tel: +4 (074) 1090873</p>
            </div>
            <div class="w-full max-w-full px-3 mt-12 text-left md:flex-0 shrink-0 md:w-7/12 md:text-right lg:w-3/12">
              <h6 class="block mt-2 mb-0 dark:text-white">Billed to: John Doe</h6>
              <p class="text-slate-400 dark:text-white dark:opacity-80">
                4006 Locust View Drive
                <br />
                San Francisco CA
                <br />
                California
              </p>
            </div>
          </div>
          <br />
          <div class="flex flex-wrap -mx-3 md:justify-between">
            <div class="w-full max-w-full px-3 mt-auto md:flex-0 shrink-0 md:w-4/12">
              <h6 class="mb-0 text-left text-slate-400 dark:text-white dark:opacity-80">Invoice no</h6>
              <h5 class="mb-0 text-left dark:text-white">#0453119</h5>
            </div>
            <div class="w-full max-w-full px-3 mt-auto md:flex-0 shrink-0 md:w-7/12 lg:w-5/12">
              <div class="flex flex-wrap mt-6 -mx-3 text-left md:mt-12 md:text-right">
                <div class="w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
                  <h6 class="mb-0 text-slate-400 dark:text-white dark:opacity-80">Invoice date:</h6>
                </div>
                <div class="w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
                  <h6 class="mb-0 text-slate-700 dark:text-white">06/03/2019</h6>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 text-left md:text-right">
                <div class="w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
                  <h6 class="mb-0 text-slate-400 dark:text-white dark:opacity-80">Due date:</h6>
                </div>
                <div class="w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
                  <h6 class="mb-0 text-slate-700 dark:text-white">11/03/2019</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-auto p-6">
          <div class="flex flex-wrap -mx-3">
            <div class="w-full max-w-full px-3 flex-0">
              <div class="overflow-x-auto">
                <table class="w-full mb-4 align-top border-gray-200 text-slate-500 dark:border-white/40">
                  <thead class="align-bottom">
                    <tr>
                      <th scope="col" class="px-2 py-3 font-semibold text-left capitalize bg-transparent border-b border-solid shadow-none tracking-none whitespace-nowrap border-b-gray-200 dark:border-white/40 dark:text-white">Item</th>
                      <th scope="col" class="px-2 py-3 pl-6 font-semibold capitalize bg-transparent border-b border-solid shadow-none tracking-none whitespace-nowrap border-b-gray-200 dark:border-white/40 dark:text-white">Qty</th>
                      <th scope="col" class="px-2 py-3 pl-6 font-semibold capitalize bg-transparent border-b border-solid shadow-none tracking-none whitespace-nowrap border-b-gray-200 dark:border-white/40 dark:text-white" colspan="2">Rate</th>
                      <th scope="col" class="px-2 py-3 pl-6 font-semibold capitalize bg-transparent border-b border-solid shadow-none tracking-none whitespace-nowrap border-b-gray-200 dark:border-white/40 dark:text-white">Amount</th>
                    </tr>
                  </thead>
                  <tbody class="border-t-2">
                    <tr>
                      <td class="p-2 text-left border-b whitespace-nowrap dark:border-white/40 dark:text-white/60">Premium Support</td>
                      <td class="p-2 pl-6 border-b whitespace-nowrap dark:border-white/40 dark:text-white/60">1</td>
                      <td class="p-2 pl-6 border-b whitespace-nowrap dark:border-white/40 dark:text-white/60" colspan="2">$ 9.00</td>
                      <td class="p-2 pl-6 border-b whitespace-nowrap dark:border-white/40 dark:text-white/60">$ 9.00</td>
                    </tr>
                    <tr>
                      <td class="p-2 text-left border-b whitespace-nowrap dark:border-white/40 dark:text-white/60">Soft UI Design System PRO</td>
                      <td class="p-2 pl-6 border-b whitespace-nowrap dark:border-white/40 dark:text-white/60">3</td>
                      <td class="p-2 pl-6 border-b whitespace-nowrap dark:border-white/40 dark:text-white/60" colspan="2">$ 100.00</td>
                      <td class="p-2 pl-6 border-b whitespace-nowrap dark:border-white/40 dark:text-white/60">$ 300.00</td>
                    </tr>
                    <tr>
                      <td class="p-2 text-left border-b-0 whitespace-nowrap dark:border-white/40 dark:text-white/60">Parts for service</td>
                      <td class="p-2 pl-6 border-b-0 whitespace-nowrap dark:border-white/40 dark:text-white/60">1</td>
                      <td class="p-2 pl-6 border-b-0 whitespace-nowrap dark:border-white/40 dark:text-white/60" colspan="2">$ 89.00</td>
                      <td class="p-2 pl-6 border-b-0 whitespace-nowrap dark:border-white/40 dark:text-white/60">$ 89.00</td>
                    </tr>
                  </tbody>
                  <tfoot class="border-t-2 border-solid">
                    <tr>
                      <th class="p-2 font-semibold bg-transparent border-b shadow-none whitespace-nowrap dark:border-white/40 dark:text-white/60"></th>
                      <th class="p-2 font-semibold bg-transparent border-b shadow-none whitespace-nowrap dark:border-white/40 dark:text-white/60"></th>
                      <th class="p-2 pl-6 mt-0 mb-2 font-semibold leading-snug bg-transparent border-b shadow-none text-xl whitespace-nowrap text-slate-700 dark:border-white/40 dark:text-white/60" colspan="2">Total</th>
                      <th class="p-2 pl-6 mt-0 mb-2 font-semibold leading-snug bg-transparent border-b shadow-none text-xl whitespace-nowrap text-slate-700 dark:border-white/40 dark:text-white/60" colspan="1">$ 698</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="border-black/12.5 mt-6 rounded-b-2xl border-t-0 border-solid p-6 md:mt-12">
          <div class="flex flex-wrap -mx-3">
            <div class="w-full max-w-full px-3 text-left lg:flex-0 shrink-0 lg:w-5/12">
              <h5 class="dark:text-white">Thank you!</h5>
              <p class="leading-normal text-sm text-slate-400 dark:text-white dark:opacity-80">If you encounter any issues related to the invoice you can contact us at:</p>
              <h6 class="mb-0 text-slate-400 dark:text-white dark:opacity-80">
                email:
                <span class="text-slate-700 dark:text-white">support@creative-tim.com</span>
              </h6>
            </div>
            <div class="w-full max-w-full px-3 mt-4 lg:flex-0 shrink-0 md:mt-0 md:text-right lg:w-7/12">
              <button onclick="window.print()" type="button" class="inline-block px-6 py-3 mb-0 font-bold text-right text-white uppercase align-middle transition-all border-0 rounded-lg cursor-pointer hover:scale-102 active:opacity-85 hover:shadow-soft-xs bg-gradient-to-tl from-blue-600 to-cyan-400 leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 lg:mt-24">Print</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>