<div class="w-full px-6 mx-auto mt-6">
  <div class="flex flex-wrap items-center -mx-3">
    <div class="w-full max-w-full px-3 sm:flex-0 shrink-0 sm:w-8/12 lg:w-4/12">
      <div class="relative right-0">
        <ul nav-pills class="relative flex flex-wrap p-1 mb-0 list-none dark:shadow-soft-dark-xl dark:bg-gray-950 rounded-xl bg-gray-50" role="tablist">
          <li class="z-30 flex-auto text-center">
            <a nav-link active class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none dark:text-white" href="javascript:;" role="tab" aria-selected="true"> Messages </a>
          </li>
          <li class="z-30 flex-auto text-center">
            <a nav-link class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none dark:text-white" href="javascript:;" role="tab" aria-selected="false"> Social </a>
          </li>
          <li class="z-30 flex-auto text-center">
            <a nav-link class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none dark:text-white" href="javascript:;" role="tab" aria-selected="false"> Notifications </a>
          </li>
          <li class="z-30 flex-auto text-center">
            <a nav-link class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none dark:text-white" href="javascript:;" role="tab" aria-selected="false"> Backup </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>