<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 md:w-4/12 md:flex-none">
    <div class="relative flex flex-col min-w-0 overflow-hidden break-words transition-all duration-200 origin-top bg-white border-0 border-transparent dark:bg-gray-950 dark:shadow-soft-dark-xl ease-soft-out shadow-soft-xl transform3d hover:transform3d-hover rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <div class="flex">
          <h6 class="mb-0 mr-4 dark:text-white">08:00</h6>
          <h6 class="mb-0 dark:text-white">
            Synk up with Mark
            <small class="font-normal text-slate-400 dark:text-white dark:opacity-80">Hangouts</small>
          </h6>
        </div>
        <hr class="h-px bg-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent" />
        <div class="flex">
          <h6 class="mb-0 mr-4 dark:text-white">09:30</h6>
          <h6 class="mb-0 dark:text-white">
            Gym <br />
            <small class="font-normal dark:text-white text-slate-400 dark:opacity-80">World Class</small>
          </h6>
        </div>
        <hr class="h-px bg-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent" />
        <div class="flex">
          <h6 class="mb-0 mr-4 dark:text-white">11:00</h6>
          <h6 class="mb-0 dark:text-white">
            Design Review<br />
            <small class="font-normal dark:text-white text-slate-400 dark:opacity-80">Zoom</small>
          </h6>
        </div>
      </div>
      <a href="javascript:;" class="w-full py-1 text-center bg-gray-50 dark:bg-gray-600" data-target="tooltip_trigger" >
        <i class="fas fa-chevron-down text-fuchsia-500"></i>
      </a>
      <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
        Show More
        <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 md:mt-0 md:w-4/12 md:flex-none">
    <div class="relative flex flex-col min-w-0 break-words transition-all duration-200 bg-white border-0 border-transparent dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl ease-soft-out dark:bg-none bg-gradient-to-tl from-gray-900 to-slate-800 hover:transform3d-hover transform3d rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <div class="flex">
          <h5 class="mb-0 text-white">To Do</h5>
          <div class="ml-auto">
            <h1 class="mb-0 -mt-2 text-right text-white">7</h1>
            <p class="mb-0 text-sm leading-normal text-white dark:opacity-60">items</p>
          </div>
        </div>
        <p class="mb-0 text-white dark:opacity-60">Shopping</p>
        <p class="mb-0 text-white dark:opacity-60">Meeting</p>
      </div>
      <a href="javascript:;" class="w-full py-1 text-center" data-target="tooltip_trigger" >
        <i class="text-white fas fa-chevron-down"></i>
      </a>
      <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
        Show More
        <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
      </div>
    </div>
    <div class="relative flex flex-col min-w-0 mt-6 break-words transition-all duration-200 bg-white border-0 border-transparent dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl ease-soft-out transform3d hover:transform3d-hover rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <div class="flex">
          <p class="mb-0 dark:opacity-60">Emails (21)</p>
          <a href="javascript:;" class="ml-auto dark:text-white hover:text-fuchsia-800" data-target="tooltip_trigger" > Check </a>
          <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
            Check
            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 md:mt-0 md:w-4/12 md:flex-none">
    <div class="relative flex flex-col items-start min-w-0 break-words transition-all duration-200 bg-white border-0 border-transparent after:bg-gradient-to-tl after:from-purple-700 after:to-pink-500 after:opacity-85 shadow-soft-xl ease-soft-out transform3d hover:transform3d-hover rounded-2xl bg-clip-border after:absolute after:top-0 after:bottom-0 after:left-0 after:z-10 after:block after:h-full after:w-full after:rounded-2xl">
      <div class="cursor-pointer">
        <div class="absolute w-full h-full bg-center bg-cover mb-7 rounded-2xl" style="background-image: url('../../../assets/img/curved-images/curved1.jpg')"></div>
        <div class="relative z-20 flex-auto p-6 text-white">
          <h5 class="mb-0 text-white">Some Kind Of Blues</h5>
          <p class="text-sm leading-normal text-white dark:opacity-60">Deftones</p>
          <div class="flex mt-12">
            <button class="inline-block p-2 mb-0 text-xs font-bold tracking-tight text-center text-white uppercase align-middle transition-all border border-solid rounded-full shadow-none leading-pro hover:bg-transparent hover:opacity-75 hover:shadow-none hover:border-white active:hover:bg-transparent active:hover:opacity-75 active:hover:shadow-none active:hover:border-white active:bg-white active:border-white active:text-black active:opacity-85 active:shadow-soft-xs hover:scale-102 ease-soft-in border-white/75 bg-white/10" type="button" data-target="tooltip_trigger" >
              <i class="p-2 fas fa-backward"></i>
            </button>
            <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
              Prev
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
            <button class="inline-block p-2 mx-2 mb-0 text-xs font-bold tracking-tight text-center text-white uppercase align-middle transition-all border border-solid rounded-full shadow-none leading-pro hover:bg-transparent hover:opacity-75 hover:shadow-none hover:border-white active:hover:bg-transparent active:hover:opacity-75 active:hover:shadow-none active:hover:border-white active:bg-white active:border-white active:text-black active:opacity-85 active:shadow-soft-xs hover:scale-102 ease-soft-in border-white/75 bg-white/10" type="button" data-target="tooltip_trigger" >
              <i class="p-2 fas fa-play"></i>
            </button>
            <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
              Pause
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
            <button class="inline-block p-2 mb-0 text-xs font-bold tracking-tight text-center text-white uppercase align-middle transition-all border border-solid rounded-full shadow-none leading-pro hover:bg-transparent hover:opacity-75 hover:shadow-none hover:border-white active:hover:bg-transparent active:hover:opacity-75 active:hover:shadow-none active:hover:border-white active:bg-white active:border-white active:text-black active:opacity-85 active:shadow-soft-xs hover:scale-102 ease-soft-in border-white/75 bg-white/10" type="button" data-target="tooltip_trigger" >
              <i class="p-2 fas fa-forward"></i>
            </button>
            <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
              Next
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative flex flex-col min-w-0 mt-6 break-words transition-all duration-200 bg-white border-0 border-transparent dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl ease-soft-out transform3d hover:transform3d-hover rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <div class="flex">
          <p class="my-auto dark:text-white dark:opacity-60">Messages</p>
          <div class="ml-auto">
              <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center text-sm text-white transition-all duration-200 border-0 rounded-full ease-soft-in-out h-9 w-9 hover:z-30" data-target="tooltip_trigger" >
                <img class="w-full rounded-full" alt="Image placeholder" src="../../../assets/img/team-1.jpg" />
              </a>
              <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
                2 New Messages
                <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
              </div>
              <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center -ml-4 text-sm text-white transition-all duration-200 border-0 rounded-full ease-soft-in-out h-9 w-9 hover:z-30" data-target="tooltip_trigger" >
                <img class="w-full rounded-full" alt="Image placeholder" src="../../../assets/img/team-2.jpg" />
              </a>
              <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
                1 New Message
                <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
              </div>
              <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center -ml-4 text-sm text-white transition-all duration-200 border-0 rounded-full ease-soft-in-out h-9 w-9 hover:z-30" data-target="tooltip_trigger" >
                <img class="w-full rounded-full" alt="Image placeholder" src="../../../assets/img/team-3.jpg" />
              </a>
              <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
                13 New Messages
                <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
              </div>
              <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center -ml-4 text-sm text-white transition-all duration-200 border-0 rounded-full ease-soft-in-out h-9 w-9 hover:z-30" data-target="tooltip_trigger" >
                <img class="w-full rounded-full" alt="Image placeholder" src="../../../assets/img/team-4.jpg" />
              </a>
              <div data-target="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg" data-popper-placement="top">
                7 New Messages
                <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>