---
layout: default
slug: CRM
folder: Dashboards
---

<div class="w-full p-6 mx-auto">
  <div class="flex flex-wrap -mx-3">
    <div class="w-full max-w-full px-3 lg:flex-0 shrink-0 lg:w-7/12 xl:w-8/12">
      {% include components/dashboards/crm/stats.html %}
      {% include components/dashboards/crm/calendar.html %}
    </div>
    <div class="w-full max-w-full px-3 mt-6 lg:flex-0 shrink-0 lg:mt-0 lg:w-5/12 xl:w-4/12">
      {% include components/dashboards/crm/categories.html %}
    </div>
  </div>
  {% include components/dashboards/crm/panels.html %}
</div>