<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 sm:flex-0 shrink-0 sm:w-6/12">
    <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 border-solid dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl border-slate-100 bg-clip-border dark:border-slate-700">
      <div class="p-4 pb-0 rounded-t-2xl">
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
            <h6 class="mb-0 dark:text-white">Transactions</h6>
          </div>
          <div class="flex items-center justify-end w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
            <i class="mr-2 far fa-calendar-alt"></i>
            <small>23 - 30 March 2021</small>
          </div>
        </div>
      </div>
      <div class="flex-auto p-4">
        <ul class="flex flex-col pl-0 mb-0 rounded-lg">
          <li class="relative justify-between block py-2 pb-0 pl-0 pr-4 border-0 rounded-t-inherit rounded-xl text-inherit">
            <div class="flex">
              <div class="flex items-center">
                <button class="active:shadow-soft-xs active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl h-6 w-6 mb-0 mr-4 flex cursor-pointer items-center justify-center border border-solid border-red-600 bg-transparent p-4 text-center align-middle font-bold text-red-600 shadow-none transition-all hover:bg-transparent hover:text-red-600 hover:opacity-75 hover:shadow-none active:bg-red-600 active:text-black hover:active:bg-transparent hover:active:text-red-600 hover:active:opacity-75 hover:active:shadow-none">
                  <i class="fas fa-arrow-down text-3xs"></i>
                </button>
                <div class="flex flex-col">
                  <h6 class="mb-1 leading-normal text-sm text-slate-700 dark:text-white">Netflix</h6>
                  <span class="leading-tight text-xs">27 March 2020, at 12:30 PM</span>
                </div>
              </div>
              <div class="flex items-center justify-center ml-auto">
                <p class="relative z-10 inline-block mb-0 font-semibold leading-normal text-transparent bg-gradient-to-tl from-red-600 to-rose-400 text-sm bg-clip-text">- $ 2,500</p>
              </div>
            </div>
            <hr class="h-px mt-4 mb-2 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />
          </li>
          <li class="relative justify-between block py-2 pb-0 pl-0 pr-4 border-0 rounded-xl text-inherit">
            <div class="flex">
              <div class="flex items-center">
                <button class="active:shadow-soft-xs active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl h-6 w-6 mb-0 mr-4 flex cursor-pointer items-center justify-center border border-solid border-lime-500 bg-transparent p-4 text-center align-middle font-bold text-lime-500 shadow-none transition-all hover:bg-transparent hover:text-lime-500 hover:opacity-75 hover:shadow-none active:bg-lime-500 active:text-black hover:active:bg-transparent hover:active:text-lime-500 hover:active:opacity-75 hover:active:shadow-none">
                  <i class="fas fa-arrow-up text-3xs"></i>
                </button>
                <div class="flex flex-col">
                  <h6 class="mb-1 leading-normal text-sm text-slate-700 dark:text-white">Apple</h6>
                  <span class="leading-tight text-xs">23 March 2020, at 04:30 AM</span>
                </div>
              </div>
              <div class="flex items-center justify-center ml-auto">
                <p class="relative z-10 inline-block mb-0 font-semibold leading-normal text-transparent bg-gradient-to-tl from-green-600 to-lime-400 text-sm bg-clip-text">+ $ 2,000</p>
              </div>
            </div>
            <hr class="h-px mt-4 mb-2 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />
          </li>
          <li class="relative justify-between block py-2 pl-0 pr-4 mb-2 border-0 rounded-b-inherit rounded-xl text-inherit">
            <div class="flex">
              <div class="flex items-center">
                <button class="active:shadow-soft-xs active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl h-6 w-6 mb-0 mr-4 flex cursor-pointer items-center justify-center border border-solid border-lime-500 bg-transparent p-4 text-center align-middle font-bold text-lime-500 shadow-none transition-all hover:bg-transparent hover:text-lime-500 hover:opacity-75 hover:shadow-none active:bg-lime-500 active:text-black hover:active:bg-transparent hover:active:text-lime-500 hover:active:opacity-75 hover:active:shadow-none">
                  <i class="fas fa-arrow-up text-3xs"></i>
                </button>
                <div class="flex flex-col">
                  <h6 class="mb-1 leading-normal text-sm text-slate-700 dark:text-white">Partner #22213</h6>
                  <span class="leading-tight text-xs">19 March 2020, at 02:50 AM</span>
                </div>
              </div>
              <div class="flex items-center justify-center ml-auto">
                <p class="relative z-10 inline-block mb-0 font-semibold leading-normal text-transparent bg-gradient-to-tl from-green-600 to-lime-400 text-sm bg-clip-text">+ $ 1,400</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 sm:flex-0 shrink-0 sm:mt-0 sm:w-6/12">
    <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 border-solid dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl border-slate-100 bg-clip-border dark:border-slate-700">
      <div class="p-4 pb-0 rounded-t-2xl">
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
            <h6 class="mb-0 dark:text-white">Revenue</h6>
          </div>
          <div class="flex items-center justify-end w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
            <i class="mr-2 far fa-calendar-alt"></i>
            <small>01 - 07 June 2021</small>
          </div>
        </div>
      </div>
      <div class="flex-auto p-4">
        <ul class="flex flex-col pl-0 mb-0 rounded-lg">
          <li class="relative justify-between block py-2 pb-0 pl-0 pr-4 border-0 rounded-t-inherit rounded-xl text-inherit">
            <div class="flex">
              <div class="flex items-center">
                <button class="active:shadow-soft-xs active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl h-6 w-6 mb-0 mr-4 flex cursor-pointer items-center justify-center border border-solid border-lime-500 bg-transparent p-4 text-center align-middle font-bold text-lime-500 shadow-none transition-all hover:bg-transparent hover:text-lime-500 hover:opacity-75 hover:shadow-none active:bg-lime-500 active:text-black hover:active:bg-transparent hover:active:text-lime-500 hover:active:opacity-75 hover:active:shadow-none">
                  <i class="fas fa-arrow-up text-3xs"></i>
                </button>
                <div class="flex flex-col">
                  <h6 class="mb-1 leading-normal text-sm text-slate-700 dark:text-white">via PayPal</h6>
                  <span class="leading-tight text-xs">07 June 2021, at 09:00 AM</span>
                </div>
              </div>
              <div class="flex items-center justify-center ml-auto">
                <p class="relative z-10 inline-block mb-0 font-semibold leading-normal text-transparent bg-gradient-to-tl from-green-600 to-lime-400 text-sm bg-clip-text">+ $ 4,999</p>
              </div>
            </div>
            <hr class="h-px mt-4 mb-2 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />
          </li>
          <li class="relative justify-between block py-2 pb-0 pl-0 pr-4 border-0 rounded-xl text-inherit">
            <div class="flex">
              <div class="flex items-center">
                <button class="active:shadow-soft-xs active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl h-6 w-6 mb-0 mr-4 flex cursor-pointer items-center justify-center border border-solid border-lime-500 bg-transparent p-4 text-center align-middle font-bold text-lime-500 shadow-none transition-all hover:bg-transparent hover:text-lime-500 hover:opacity-75 hover:shadow-none active:bg-lime-500 active:text-black hover:active:bg-transparent hover:active:text-lime-500 hover:active:opacity-75 hover:active:shadow-none">
                  <i class="fas fa-arrow-up text-3xs"></i>
                </button>
                <div class="flex flex-col">
                  <h6 class="mb-1 leading-normal text-sm text-slate-700 dark:text-white">Partner #90211</h6>
                  <span class="leading-tight text-xs">07 June 2021, at 09:00 AM</span>
                </div>
              </div>
              <div class="flex items-center justify-center ml-auto">
                <p class="relative z-10 inline-block mb-0 font-semibold leading-normal text-transparent bg-gradient-to-tl from-green-600 to-lime-400 text-sm bg-clip-text">+ $ 700</p>
              </div>
            </div>
            <hr class="h-px mt-4 mb-2 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />
          </li>
          <li class="relative justify-between block py-2 pl-0 pr-4 mb-2 border-0 rounded-b-inherit rounded-xl text-inherit">
            <div class="flex">
              <div class="flex items-center">
                <button class="active:shadow-soft-xs active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl h-6 w-6 mb-0 mr-4 flex cursor-pointer items-center justify-center border border-solid border-red-600 bg-transparent p-4 text-center align-middle font-bold text-red-600 shadow-none transition-all hover:bg-transparent hover:text-red-600 hover:opacity-75 hover:shadow-none active:bg-red-600 active:text-black hover:active:bg-transparent hover:active:text-red-600 hover:active:opacity-75 hover:active:shadow-none">
                  <i class="fas fa-arrow-down text-3xs"></i>
                </button>
                <div class="flex flex-col">
                  <h6 class="mb-1 leading-normal text-sm text-slate-700 dark:text-white">Services</h6>
                  <span class="leading-tight text-xs">07 June 2021, at 07:10 PM</span>
                </div>
              </div>
              <div class="flex items-center justify-center ml-auto">
                <p class="relative z-10 inline-block mb-0 font-semibold leading-normal text-transparent bg-gradient-to-tl from-red-600 to-rose-400 text-sm bg-clip-text">- $ 1,800</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>