<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 flex-0 lg:w-3/12 md:w-6/12">
    <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="pb-0 border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6">
        <div class="flex">
          <p>Full Body</p>
          <div class="ml-auto">
            <span class="py-2.2 px-3.6 text-xs rounded-1.8 inline-block whitespace-nowrap bg-pink-300 text-center align-baseline font-bold uppercase leading-none text-white">Moderate</span>
          </div>
        </div>
      </div>
      <div class="flex-auto p-6 pt-0">
        <p class="mb-0">What matters is the people who are sparked by it. And the people who are liked.</p>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 flex-0 lg:w-2/12 md:w-4/12 md:mt-0">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl rounded-2xl bg-clip-border shadow-blur">
      <div class="flex-auto p-6">
        <div class="flex">
          <p class="mb-0">On</p>
          <div class="min-h-6 mb-0.5 block pl-12 ml-auto">
            <input class="rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.3 h-5 mt-0.5 relative float-left -ml-12 w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right mr-0" type="checkbox" checked id="flexSwitchCheckDefault">
          </div>
        </div>
        <img class="h-auto max-w-full pt-4 pb-2" src="../../assets/img/small-logos/icon-bulb.svg" alt="logo image">
        <p class="mb-0">Lights</p>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 flex-0 lg:w-3/12 md:w-4/12 lg:mt-0">
    <div class="relative flex flex-col min-w-0 overflow-hidden break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="p-4 pb-0 border-black/12.5 rounded-t-2xl border-b-0 border-solid">
        <p class="mb-0 font-semibold leading-normal capitalize text-sm">Calories</p>
        <h5 class="mb-0 font-bold">
          97
          <span class="font-bold leading-normal text-sm text-lime-500">+5%</span>
        </h5>
      </div>
      <div class="flex-auto p-0">
        <div class="chart">
          <canvas id="chart-widgets-1" class="chart-canvas" height="100"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 flex-0 lg:w-2/12 md:w-4/12 lg:mt-0">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <div class="inline-block w-12 h-12 text-center text-black bg-center fill-current shadow-soft-2xl stroke-none rounded-xl bg-gradient-to-tl from-purple-700 to-pink-500">
          <i class="ni leading-none ni-curved-next top-3.5 text-white relative" aria-hidden="true"></i>
        </div>
        <h5 class="mt-4 mb-0">754 <span class="leading-normal text-sm text-slate-400">m</span></h5>
        <p class="mb-0">New York City</p>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 flex-0 lg:w-2/12 md:w-4/12 lg:mt-0">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <p>Steps</p>
        <h3>11.4K</h3>
        <span class="py-2.2 px-3.6 text-xs rounded-1.8 inline-block whitespace-nowrap bg-lime-200 text-center align-baseline font-bold uppercase leading-none text-lime-600">+4.3%</span>
      </div>
    </div>
  </div>

</div>