<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 flex-0">
    <div class="shadow-soft-xl dark:bg-gray-950 dark:shadow-soft-dark-xl border-black/12.5 bg-gradient-to-tl from-slate-600 to-slate-300 relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-clip-border dark:bg-none">
      <img src="../../assets/img/shapes/waves-white.svg" alt="pattern-lines" class="absolute top-0 left-0 w-full opacity-40" />
      <div class="z-10 flex-auto px-12 py-6 bg-cover">
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 my-auto flex-0 lg:w-3/12">
            <h4 class="text-white opacity-90">Since Last Charge</h4>
            <hr class="h-px mt-1 mb-4 bg-gradient-to-r from-transparent via-white to-transparent" />
            <div class="flex">
              <div>
                <h6 class="mb-0 text-white opacity-70">Distance</h6>
                <h3 class="text-white">
                  145
                  <small class="leading-normal align-top text-sm">Km</small>
                </h3>
              </div>
              <div class="ml-6 lg:ml-16">
                <h6 class="mb-0 text-white opacity-70">Average Energy</h6>
                <h3 class="text-white">
                  300
                  <small class="leading-normal align-top text-sm">Kw</small>
                </h3>
              </div>
            </div>
          </div>
          <div class="w-full max-w-full px-3 text-center flex-0 lg:w-6/12">
            <img class="hidden w-3/4 -mt-24 md:block lg:-mt-32 lg:w-auto" src="../../assets/img/mercedes-eqc.png" alt="car image" />
            <div class="flex items-center">
              <h4 class="ml-0 text-white opacity-70 md:ml-auto">Available Range</h4>
              <h2 class="ml-2 mr-auto text-white">70<small class="leading-normal align-top text-sm"> %</small></h2>
            </div>
          </div>
          <div class="w-full max-w-full px-3 my-auto flex-0 lg:w-3/12">
            <h4 class="text-white opacity-90">Nearest Charger</h4>
            <hr class="h-px mt-1 mb-4 bg-gradient-to-r from-transparent via-white to-transparent" />
            <div class="flex">
              <div>
                <h6 class="mb-0 text-white">Miclan, DW</h6>
                <h6 class="mb-0 text-white">891 Limarenda road</h6>
              </div>
              <div class="ml-6 lg:ml-16">
                <button class="leading-pro text-xs active:opacity-85 active:shadow-soft-xs ease-soft-in tracking-tight-soft w-9 h-9 p-2.8 rounded-7 mb-0 inline-block cursor-pointer border border-solid border-white/75 bg-white/10 text-center align-middle font-bold uppercase text-white shadow-none transition-all hover:border-white hover:bg-transparent hover:text-white hover:opacity-75 hover:shadow-none active:border-white active:bg-white active:text-black hover:active:border-white hover:active:bg-transparent hover:active:text-white hover:active:opacity-75 hover:active:shadow-none">
                  <i class="ni leading-none ni-map-big" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>