<div class="relative flex items-center p-0 m-4 overflow-hidden bg-center bg-cover rounded-2xl bg-gradient-to-tl from-purple-700 to-pink-500 ">
  <img src="../../assets/img/shapes/waves-white.svg" alt="pattern-lines" class="absolute top-0 left-0 w-full opacity-60">
  <div class="container pt-24 pb-48 z-2 lg:pb-40">
    <div class="flex flex-wrap -mx-3">
      <div class="w-full max-w-full px-3 mx-auto text-center shrink-0 md:flex-0 md:w-1/2">
        <h3 class="text-white">See our pricing</h3>
        <p class="text-white">You have Free Unlimited Updates and Premium Support on each package.</p>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3">
      <div class="w-full max-w-full px-3 mx-auto text-center shrink-0 md:flex-0 md:w-1/2 lg:w-4/12">
        <div class="relative mt-12 z-2">
          <ul class="relative flex flex-wrap p-1 mb-0 list-none rounded-xl bg-gray-50" nav-pills role="tablist" aria-controls="pricing-plans">
            <li class="z-30 flex-auto text-center">
              <a nav-link active class="block w-full px-4 py-2 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none dark:text-white" href="javascript:;" role="tab" aria-controls="Monthly" aria-selected="true"> Monthly </a>
            </li>
            <li class="z-30 flex-auto text-center">
              <a nav-link class="block w-full px-4 py-2 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none" href="javascript:;" role="tab" aria-controls="Annual" aria-selected="false"> Annual </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>