<div class="w-full max-w-full px-3 flex-0 lg:w-4/12">
  <div class="relative flex flex-col min-w-0 mt-6 mb-4 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border lg:mt-0">
    <div class="flex-auto p-6 pb-0">
      <div class="flex flex-wrap items-center mb-4 -mx-3">
        <div class="w-9/12 max-w-full px-3 flex-0">
          <h5 class="z-10 mb-1 text-transparent bg-clip-text bg-gradient-to-tl from-purple-700 to-pink-500">
            <a href="javascript:;" class="text-transparent">Digital Marketing</a>
          </h5>
        </div>
        <div class="w-3/12 max-w-full px-3 text-right flex-0">
          <div class="relative">
            <a href="javascript:;" dropdown-trigger class="pl-6 cursor-pointer text-slate-400 dark:text-white dark:opacity-80" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <ul dropdown-menu class="z-100 min-w-44 text-sm shadow-soft-3xl duration-250 transform-dropdown before:duration-350 before:font-awesome before:ease-soft before:text-5.5 dark:bg-gray-950 pointer-events-none absolute top-0 right-0 left-auto m-0 mt-2 block origin-top cursor-pointer list-none rounded-lg border-0 border-solid border-transparent bg-white bg-clip-padding px-2 py-4 text-left text-slate-500 opacity-0 transition-all will-change-transform before:absolute before:top-0 before:right-5 before:left-auto before:z-40 before:text-white before:transition-all before:content-['\f0d8'] sm:-mr-6">
              <li class="relative"><a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-slate-500 transition-colors hover:bg-gray-200 hover:text-slate-700 focus:bg-gray-200 focus:text-slate-700 dark:text-white dark:hover:bg-gray-200/80 dark:hover:text-slate-700 lg:duration-300" href="javascript:;">Edit Team</a></li>
              <li class="relative"><a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-slate-500 transition-colors hover:bg-gray-200 hover:text-slate-700 focus:bg-gray-200 focus:text-slate-700 dark:text-white dark:hover:bg-gray-200/80 dark:hover:text-slate-700 lg:duration-300" href="javascript:;">Add Member</a></li>
              <li class="relative"><a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-slate-500 transition-colors hover:bg-gray-200 hover:text-slate-700 focus:bg-gray-200 focus:text-slate-700 dark:text-white dark:hover:bg-gray-200/80 dark:hover:text-slate-700 lg:duration-300" href="javascript:;">See Details</a></li>
              <li class="relative">
                <hr class="h-px my-2 bg-gradient-to-r from-transparent via-black/40 to-transparent" />
              </li>
              <li class="relative"><a class="py-1.2 text-danger lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-red-600 transition-colors hover:bg-gray-200 focus:bg-gray-200 dark:hover:bg-gray-200/80 lg:duration-300" href="javascript:;">Remove Team</a></li>
          </div>
        </div>
      </div>
      <p class=" dark:text-white/60">A group of people who collectively are responsible for all of the work necessary to produce working, validated assets.</p>
      <ul class="pl-0 mx-auto mb-4 list-none">
        <li class="flex">
          <p class="mb-0 dark:text-white/60">Industry:</p>
          <span class="py-2.2 px-3.6 text-xs rounded-1.8 inline-block whitespace-nowrap ml-auto bg-slate-200 text-center align-baseline font-bold uppercase leading-none text-slate-650">Marketing Team</span>
        </li>
        <li>
          <hr class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent">
        </li>
        <li class="flex">
          <p class="mb-0 dark:text-white/60">Rating:</p>
          <div class="float-left ml-auto border-none">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </li>
        <li>
          <hr class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent">

        </li>
        <li class="flex">
          <p class="mb-0 dark:text-white/60">Members:</p>
          <div class="ml-auto">
            <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
              <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-1.jpg" />
            </a>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
              Alexa Tompson
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
            <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
              <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-2.jpg" />
            </a>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
              Romina Hadid
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
            <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
              <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-3.jpg" />
            </a>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
              Alexander Smith
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
            <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
              <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-4.jpg" />
            </a>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
              Martin Doe
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="relative flex flex-col min-w-0 mt-6 mb-4 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
    <div class="flex-auto p-6 pb-0">
      <div class="flex flex-wrap items-center mb-4 -mx-3">
        <div class="w-9/12 max-w-full px-3 flex-0">
          <h5 class="z-10 mb-1 text-transparent bg-clip-text bg-gradient-to-tl from-purple-700 to-pink-500">
            <a href="javascript:;" class="text-transparent">Design</a>
          </h5>
        </div>
        <div class="w-3/12 max-w-full px-3 text-right flex-0">
          <div class="relative">
            <a href="javascript:;" dropdown-trigger class="pl-6 cursor-pointer text-slate-400 dark:text-white dark:opacity-80" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <ul dropdown-menu class="z-100 min-w-44 text-sm shadow-soft-3xl duration-250 transform-dropdown before:duration-350 before:font-awesome before:ease-soft before:text-5.5 dark:bg-gray-950 pointer-events-none absolute top-0 right-0 left-auto m-0 mt-2 block origin-top cursor-pointer list-none rounded-lg border-0 border-solid border-transparent bg-white bg-clip-padding px-2 py-4 text-left text-slate-500 opacity-0 transition-all will-change-transform before:absolute before:top-0 before:right-5 before:left-auto before:z-40 before:text-white before:transition-all before:content-['\f0d8'] sm:-mr-6">
              <li class="relative"><a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-slate-500 transition-colors hover:bg-gray-200 hover:text-slate-700 focus:bg-gray-200 focus:text-slate-700 dark:text-white dark:hover:bg-gray-200/80 dark:hover:text-slate-700 lg:duration-300" href="javascript:;">Edit Team</a></li>
              <li class="relative"><a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-slate-500 transition-colors hover:bg-gray-200 hover:text-slate-700 focus:bg-gray-200 focus:text-slate-700 dark:text-white dark:hover:bg-gray-200/80 dark:hover:text-slate-700 lg:duration-300" href="javascript:;">Add Member</a></li>
              <li class="relative"><a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-slate-500 transition-colors hover:bg-gray-200 hover:text-slate-700 focus:bg-gray-200 focus:text-slate-700 dark:text-white dark:hover:bg-gray-200/80 dark:hover:text-slate-700 lg:duration-300" href="javascript:;">See Details</a></li>
              <li class="relative">
                <hr class="h-px my-2 bg-gradient-to-r from-transparent via-black/40 to-transparent" />
              </li>
              <li class="relative"><a class="py-1.2 text-danger lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-red-600 transition-colors hover:bg-gray-200 focus:bg-gray-200 dark:hover:bg-gray-200/80 lg:duration-300" href="javascript:;">Remove Team</a></li>
          </div>
        </div>
      </div>
      <p class=" dark:text-white/60">Because it's about motivating the doers. Because I’m here to follow my dreams and inspire other people to follow their dreams, too.</p>
      <ul class="pl-0 mx-auto mb-4 list-none">
        <li class="flex">
          <p class="mb-0 dark:text-white/60">Industry:</p>
          <span class="py-2.2 px-3.6 text-xs rounded-1.8 inline-block whitespace-nowrap ml-auto bg-slate-200 text-center align-baseline font-bold uppercase leading-none text-slate-650">Design Team</span>
        </li>
        <li>
          <hr class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent">
        </li>
        <li class="flex">
          <p class="mb-0 dark:text-white/60">Rating:</p>
          <div class="float-left ml-auto border-none">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </li>
        <li>
          <hr class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent">

        </li>
        <li class="flex">
          <p class="mb-0 dark:text-white/60">Members:</p>
          <div class="ml-auto">
            <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
              <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-4.jpg" />
            </a>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
              Martin Doe
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
            <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
              <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-3.jpg" />
            </a>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
              Alexander Smith
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
            <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
              <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-1.jpg" />
            </a>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
              Alexa Tompson
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
            <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
              <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-5.jpg" />
            </a>
            <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
              Alexandra Smith
              <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="relative flex flex-col min-w-0 mt-6 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
    <div class="flex-auto p-4">
      <div class="flex">
        <div class="text-white inline-flex items-center justify-center text-sm rounded-xl h-14 w-14 transition-all duration-200 ease-soft-in-out">
          <img class="w-full" src="../../../assets/img/small-logos/logo-slack.svg" alt="Image placeholder">
        </div>
        <div class="my-auto ml-2">
          <h6 class="mb-0 dark:text-white">Slack Meet</h6>
          <p class="mb-0 leading-tight text-xs dark:text-white/60">11:00 AM</p>
        </div>
      </div>
      <p class="mt-4 dark:text-white/60"> You have an upcoming meet for Marketing Planning</p>
      <p class="mb-0 dark:text-white/60">
        <b>Meeting ID:</b>
        902-128-281
      </p>
      <hr class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent">
      <div class="flex">
        <button type="button" class="inline-block px-8 py-2 m-0 mb-0 font-bold text-center text-white uppercase align-middle transition-all border-0 rounded-lg cursor-pointer text-xs tracking-tight-soft ease-soft-in leading-pro bg-gradient-to-tl from-green-600 to-lime-400 shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85">join</button>
        <div class="ml-auto">
          <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
            <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-1.jpg" />
          </a>
          <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            Alexa Tompson
            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
          <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
            <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-2.jpg" />
          </a>
          <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            Romina Hadid
            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
          <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
            <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-3.jpg" />
          </a>
          <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            Alexander Smith
            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
          <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
            <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/ivana-squares.jpg" />
          </a>
          <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            Martin Doe
            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex flex-col min-w-0 mt-6 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
    <div class="flex-auto p-4">
      <div class="flex">
        <div class="text-white inline-flex items-center justify-center text-sm rounded-xl h-14 w-14 transition-all duration-200 ease-soft-in-out">
          <img class="w-full" src="../../../assets/img/small-logos/logo-invision.svg" alt="Image placeholder">
        </div>
        <div class="my-auto ml-2">
          <h6 class="mb-0 dark:text-white">Invision</h6>
          <p class="mb-0 leading-tight text-xs dark:text-white/60">4:50 PM</p>
        </div>
      </div>
      <p class="mt-4 dark:text-white/60">  You have an upcoming video call for 
        <span class="text-fuchsia-500">Soft Design</span>
        at 5:00 PM.
      </p>
      <p class="mb-0 dark:text-white/60">
        <b>Meeting ID:</b>
        111-968-981
      </p>
      <hr class="h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent">
      <div class="flex">
        <button type="button" class="inline-block px-8 py-2 m-0 mb-0 font-bold text-center text-white uppercase align-middle transition-all border-0 rounded-lg cursor-pointer text-xs tracking-tight-soft ease-soft-in leading-pro bg-gradient-to-tl from-green-600 to-lime-400 shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85">join</button>
        <div class="ml-auto">
          <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
            <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-1.jpg" />
          </a>
          <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            Alexa Tompson
            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
          <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
            <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-2.jpg" />
          </a>
          <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            Romina Hadid
            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
          <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
            <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/team-3.jpg" />
          </a>
          <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            Alexander Smith
            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
          <a href="javascript:;" class="relative z-20 inline-flex items-center justify-center w-6 h-6 -ml-4 text-white transition-all duration-200 border-2 border-white border-solid ease-soft-in-out text-xs rounded-circle hover:z-30" data-target="tooltip_trigger">
            <img class="w-full rounded-circle" alt="Image placeholder" src="../../../assets/img/ivana-squares.jpg" />
          </a>
          <div class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            Martin Doe
            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>