<div class="w-full max-w-full px-3 flex-0">
  <div class="relative flex flex-col min-w-0 overflow-scroll break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
    <div class="flex flex-auto p-6">
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle bg-gradient-to-tl from-purple-700 to-pink-500 inline-flex items-center justify-center border-0 text-white transition-all duration-200">
          <i class="text-white fas fa-plus"></i>
        </a>
        <p class="text-sm mb-0 mt-1.5 leading-normal dark:text-white dark:opacity-60">Add story</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-fuchsia-500 text-white transition-all duration-200">
          <img src="../../../assets/img/team-1.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Abbie W</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-fuchsia-500 text-white transition-all duration-200">
          <img src="../../../assets/img/team-2.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Boris U</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-fuchsia-500 text-white transition-all duration-200">
          <img src="../../../assets/img/team-3.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Kay R</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-fuchsia-500 text-white transition-all duration-200">
          <img src="../../../assets/img/team-4.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Tom M</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-fuchsia-500 text-white transition-all duration-200">
          <img src="../../../assets/img/team-5.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Nicole N</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-fuchsia-500 text-white transition-all duration-200">
          <img src="../../../assets/img/marie.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Marie P</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-fuchsia-500 text-white transition-all duration-200">
          <img src="../../../assets/img/bruce-mars.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Bruce M</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-slate-400 text-white transition-all duration-200">
          <img src="../../../assets/img/ivana-squares.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Sandra A</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-slate-400 text-white transition-all duration-200">
          <img src="../../../assets/img/kal-visuals-square.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Katty L</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-slate-400 text-white transition-all duration-200">
          <img src="../../../assets/img/ivana-square.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Emma O</p>
      </div>
      <div class="w-4/12 text-center flex-0 sm:w-3/12 md:w-2/12 lg:w-1/12">
        <a href="javascript:;" class="ease-soft-in-out w-14 h-14 text-sm rounded-circle inline-flex items-center justify-center border border-solid border-slate-400 text-white transition-all duration-200">
          <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/team-9.jpg" alt="Image placeholder" class="w-full p-1 rounded-circle" />
        </a>
        <p class="mb-0 leading-normal text-sm dark:text-white dark:opacity-60">Tao G</p>
      </div>
    </div>
  </div>
</div>