<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 shrink-0 sm:flex-0 sm:w-6/12">
    <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-4 pb-0">
        <div class="flex items-center">
          <h6 class="mb-0 dark:text-white">Social</h6>
          <button type="button" class="active:shadow-soft-xs active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl p-1.2 h-6 w-6 mb-0 ml-auto flex cursor-pointer items-center justify-center border border-solid border-slate-400 bg-transparent text-center align-middle font-bold text-slate-400 shadow-none transition-all hover:bg-transparent hover:text-slate-400 hover:opacity-75 hover:shadow-none active:bg-slate-400 active:text-black hover:active:bg-transparent hover:active:text-slate-400 hover:active:opacity-75 hover:active:shadow-none" data-target="tooltip_trigger">
            <i class="fas fa-info text-3xs"></i>
          </button>
          <div class="z-50 hidden px-2 py-1 text-center text-white bg-black rounded-lg max-w-46 text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            See how much traffic do you get from social media
            <div id="arrow" class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
        </div>
      </div>
    
      <div class="flex-auto p-4">
        <ul class="flex flex-col pl-0 mb-0 rounded-lg">
          <li class="border-black/12.5 rounded-t-inherit relative border-solid py-2 text-inherit border-0 flex items-center px-0 mb-2">
            <div class="w-full">
              <div class="flex items-center mb-2">
                <a class="inline-block p-0 font-bold text-center text-blue-800 uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-xs ease-soft-in tracking-tight-soft hover:scale-102 active:opacity-85">
                  <i class="fab fa-facebook text-5.3 leading-3 font-normal align-[-0.0667em]"></i>
                </a>
                <span class="mx-2 font-semibold leading-normal capitalize text-sm">Facebook</span>
                <span class="ml-auto font-semibold leading-normal text-sm">80%</span>
              </div>
              <div>
                <div class="h-0.75 text-xs flex overflow-visible rounded-lg bg-gray-200 dark:bg-gradient-to-tl dark:from-gray-900 dark:to-slate-800">
                  <div class="dark:bg-gray-200 dark:bg-none bg-gradient-to-tl from-gray-900 to-slate-800 w-4/5 transition-width duration-600 ease-soft rounded-1 -mt-0.4 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap text-center text-white"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="border-black/12.5 relative border-t-0 border-solid py-2 text-inherit border-0 flex items-center px-0 mb-2">
            <div class="w-full">
              <div class="flex items-center mb-2">
                <a class="inline-block p-0 font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer text-sky-600 leading-pro text-xs ease-soft-in tracking-tight-soft hover:scale-102 active:opacity-85">
                  <i class="fab fa-twitter text-5.3 leading-3 font-normal align-[-0.0667em]"></i>
                </a>
                <span class="mx-2 font-semibold leading-normal capitalize text-sm">Twitter</span>
                <span class="ml-auto font-semibold leading-normal text-sm">40%</span>
              </div>
              <div>
                <div class="h-0.75 text-xs flex overflow-visible rounded-lg bg-gray-200 dark:bg-gradient-to-tl dark:from-gray-900 dark:to-slate-800">
                  <div class="dark:bg-gray-200 dark:bg-none bg-gradient-to-tl from-gray-900 to-slate-800 w-2/5 transition-width duration-600 ease-soft rounded-1 -mt-0.4 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap text-center text-white"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="border-black/12.5 relative border-t-0 border-solid py-2 text-inherit border-0 flex items-center px-0 mb-2">
            <div class="w-full">
              <div class="flex items-center mb-2">
                <a class="inline-block p-0 font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer text-orange-650 leading-pro text-xs ease-soft-in tracking-tight-soft hover:scale-102 active:opacity-85">
                  <i class="fab fa-reddit text-5.3 leading-3 font-normal align-[-0.0667em]"></i>
                </a>
                <span class="mx-2 font-semibold leading-normal capitalize text-sm">Reddit</span>
                <span class="ml-auto font-semibold leading-normal text-sm">30%</span>
              </div>
              <div>
                <div class="h-0.75 text-xs flex overflow-visible rounded-lg bg-gray-200 dark:bg-gradient-to-tl dark:from-gray-900 dark:to-slate-800">
                  <div class="dark:bg-gray-200 dark:bg-none bg-gradient-to-tl from-gray-900 to-slate-800 w-3/10 transition-width duration-600 ease-soft rounded-1 -mt-0.4 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap text-center text-white"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="border-black/12.5 relative border-t-0 border-solid py-2 text-inherit border-0 flex items-center px-0 mb-2">
            <div class="w-full">
              <div class="flex items-center mb-2">
                <a class="inline-block p-0 font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer text-red-650 leading-pro text-xs ease-soft-in tracking-tight-soft hover:scale-102 active:opacity-85">
                  <i class="fab fa-youtube text-5.3 leading-3 font-normal align-[-0.0667em]"></i>
                </a>
                <span class="mx-2 font-semibold leading-normal capitalize text-sm">Youtube</span>
                <span class="ml-auto font-semibold leading-normal text-sm">25%</span>
              </div>
              <div>
                <div class="h-0.75 text-xs flex overflow-visible rounded-lg bg-gray-200 dark:bg-gradient-to-tl dark:from-gray-900 dark:to-slate-800">
                  <div class="dark:bg-gray-200 dark:bg-none bg-gradient-to-tl from-gray-900 to-slate-800 w-1/4 transition-width duration-600 ease-soft rounded-1 -mt-0.4 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap text-center text-white"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="border-black/12.5 rounded-b-inherit relative border-t-0 border-solid py-2 text-inherit border-0 flex items-center px-0 mb-2">
            <div class="w-full">
              <div class="flex items-center mb-2">
                <a class="inline-block p-0 font-bold text-center uppercase align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer text-teal-550 leading-pro text-xs ease-soft-in tracking-tight-soft hover:scale-102 active:opacity-85">
                  <i class="fab fa-slack text-5.3 leading-3 font-normal align-[-0.0667em]"></i>
                </a>
                <span class="mx-2 font-semibold leading-normal capitalize text-sm">Slack</span>
                <span class="ml-auto font-semibold leading-normal text-sm">15%</span>
              </div>
              <div>
                <div class="h-0.75 text-xs flex overflow-visible rounded-lg bg-gray-200 dark:bg-gradient-to-tl dark:from-gray-900 dark:to-slate-800">
                  <div class="dark:bg-gray-200 dark:bg-none bg-gradient-to-tl from-gray-900 to-slate-800 w-15/100 transition-width duration-600 ease-soft rounded-1 -mt-0.4 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap text-center text-white"></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 shrink-0 sm:flex-0 sm:w-6/12">
    <div class="relative flex flex-col h-full min-w-0 mt-6 break-words bg-white border-0 md:mt-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-4 pb-0">
        <div class="flex items-center">
          <h6 class="dark:text-white">Pages</h6>
          <button type="button" class="active:shadow-soft-xs active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl p-1.2 h-6 w-6 mb-0 ml-auto flex cursor-pointer items-center justify-center border border-solid border-lime-500 bg-transparent text-center align-middle font-bold text-lime-500 shadow-none transition-all hover:bg-transparent hover:text-lime-500 hover:opacity-75 hover:shadow-none active:bg-lime-500 active:text-black hover:active:bg-transparent hover:active:text-lime-500 hover:active:opacity-75 hover:active:shadow-none" data-target="tooltip_trigger">
            <i class="fas fa-check text-3xs"></i>
          </button>
          <div class="z-50 hidden px-2 py-1 text-center text-white bg-black rounded-lg max-w-46 text-sm" id="tooltip" role="tooltip" data-popper-placement="bottom">
            See how much traffic do you get from social media
            <div id="arrow" class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
          </div>
        </div>
      </div>

      <div class="flex-auto px-4 pb-2">
        <div class="p-0 overflow-x-auto">
          <table class="items-center justify-center w-full mb-0 align-top border-gray-200 dark:text-white/80 text-slate-500">
            <thead class="align-bottom">
              <tr>
                <th class="py-3 pl-2 pr-6 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Page</th>
                <th class="py-3 pl-2 pr-6 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Page Views</th>
                <th class="py-3 pl-2 pr-6 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Avg. Time</th>
                <th class="py-3 pl-2 pr-6 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Bounce Rate</th>
              </tr>
            </thead>
            <tbody class="align-top">
              <tr>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">1./bits</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">345</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">00:17:07</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">40.91%</p>
                </td>
              </tr>
              <tr>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">2. /pages/argon-dashboard</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">520</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">00:23:13</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">30.14%</p>
                </td>
              </tr>
              <tr>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">3. /pages/soft-ui-dashboard</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">122</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">00:3:10</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">54.10%</p>
                </td>
              </tr>
              <tr>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">4. /bootstrap-themes</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">1,900</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">00:30:42</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">20.93%</p>
                </td>
              </tr>
              <tr>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">5. /react-themes</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">1,442</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">00:31:50</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">34.98%</p>
                </td>
              </tr>
              <tr>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">6. /product/argon-dashboard-angular</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">201</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">00:12:42</p>
                </td>
                <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">21.4%</p>
                </td>
              </tr>
              <tr>
                <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">7. /product/material-dashboard-pro</p>
                </td>
                <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">2,115</p>
                </td>
                <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">00:50:11</p>
                </td>
                <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                  <p class="mb-0 font-semibold leading-normal text-sm">34.98%</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>