<div class="flex flex-wrap -mx-3">
  <div class="w-full max-w-full px-3 mb-6 shrink-0 sm:flex-0 sm:w-6/12 xl:w-3/12 xl:mb-0">
    <div class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-wrap -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">Users</p>
              <h5 class="mb-0 font-bold dark:text-white">
                930
                <span class="leading-normal text-sm font-weight-bolder text-lime-500">+55%</span>
              </h5>
            </div>
          </div>
          <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
            <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-gray-900 to-slate-800 shadow-soft-2xl">
              <i class="ni leading-none ni-circle-08 text-lg relative top-3.5 text-white" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mb-6 shrink-0 sm:flex-0 sm:w-6/12 xl:w-3/12 xl:mb-0">
     <div class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-wrap -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">New Users</p>
              <h5 class="mb-0 font-bold dark:text-white">
                744
                <span class="leading-normal text-sm font-weight-bolder text-lime-500">+3%</span>
              </h5>
            </div>
          </div>
          <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
            <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-gray-900 to-slate-800 shadow-soft-2xl">
              <i class="ni leading-none ni-world text-lg relative top-3.5 text-white" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mb-6 shrink-0 sm:flex-0 sm:w-6/12 xl:w-3/12 xl:mb-0">
     <div class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-wrap -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">Sessions</p>
              <h5 class="mb-0 font-bold dark:text-white">
                1,414
                <span class="leading-normal text-red-600 text-sm font-weight-bolder">-2%</span>
              </h5>
            </div>
          </div>
          <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
            <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-gray-900 to-slate-800 shadow-soft-2xl">
              <i class="ni leading-none ni-watch-time text-lg relative top-3.5 text-white" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 shrink-0 sm:flex-0 sm:w-6/12 xl:w-3/12">
     <div class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-4">
        <div class="flex flex-wrap -mx-3">
          <div class="flex-none w-2/3 max-w-full px-3">
            <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">Pages/Session</p>
              <h5 class="mb-0 font-bold dark:text-white">
                1.76
                <span class="leading-normal text-sm font-weight-bolder text-lime-500">+5%</span>
              </h5>
            </div>
          </div>
          <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
            <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-gray-900 to-slate-800 shadow-soft-2xl">
              <i class="ni leading-none ni-image text-lg relative top-3.5 text-white" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>