<div class="flex flex-wrap -mx-3">
  <div class="w-full max-w-full px-3 flex-0 lg:w-8/12">
    <div class="flex flex-wrap -mx-3">
      <div class="w-full max-w-full px-3 flex-0 lg:w-4/12">
        <div data-tilt class="after:bg-gradient-to-tl after:from-blue-600 after:to-cyan-400 after:opacity-85 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl after:z-1 relative flex h-full min-w-0 flex-col items-center break-words rounded-2xl border-0 bg-white bg-clip-border after:absolute after:top-0 after:left-0 after:block after:h-full after:w-full after:rounded-2xl after:bg-black/40 after:content-['']" style="transform-style: preserve-3d; will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1)">
          <div class="mb-7 absolute h-full w-full rounded-2xl"></div>
          <div class="relative flex-auto p-6 text-center text-white z-2">
            <h2 class="mt-2 mb-0 text-white transition-all duration-500 [transform:scale(.7)_translateZ(50px)]">Earnings</h2>
            <h1 class="mb-0 text-white transition-all duration-500 [transform:scale(.7)_translateZ(50px)]">$15,800</h1>
            <span class="py-3.4 px-5.5 text-xs rounded-1.8 dark:bg-gradient-to-tl dark:from-slate-850 dark:to-gray-850 bg-gradient-to-tl from-gray-900 to-slate-800 mb-2 block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white transition-all duration-500 [transform:scale(.7)_translateZ(50px)]">+15% since last week</span>
            <a href="javascript:;" class="leading-pro text-xs ease-soft-in tracking-tight-soft active:opacity-85 active:shadow-soft-xs mb-2 inline-block cursor-pointer rounded-lg border border-solid border-white/75 bg-white/10 px-12 py-3 text-center align-middle font-bold uppercase text-white shadow-none transition-all duration-500 [transform:scale(.7)_translateZ(50px)] hover:border-white hover:bg-transparent hover:opacity-75 active:border-white active:bg-white active:text-black">View more</a>
          </div>
        </div>
      </div>
      <div class="w-full max-w-full px-3 mt-6 flex-0 md:w-6/12 lg:mt-0 lg:w-4/12">
        <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
          <div class="flex-auto p-4">
            <div class="flex">
              <div>
                <div class="inline-block w-12 h-12 text-center text-black bg-center rounded-lg fill-current bg-gradient-to-tl from-gray-900 to-slate-800 dark:bg-gradient-to-tl dark:from-slate-850 dark:to-gray-850 stroke-none">
                  <i class="ni leading-none ni-money-coins text-lg relative top-3.5 text-white opacity-100"></i>
                </div>
              </div>
              <div class="ml-4">
                <div>
                  <p class="mb-0 font-semibold leading-normal capitalize text-sm dark:text-white/60">Today's money</p>
                  <h5 class="mb-0 font-bold dark:text-white">$53,000</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="relative flex flex-col min-w-0 mt-6 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
          <div class="flex-auto p-4">
            <div class="flex">
              <div>
                <div class="inline-block w-12 h-12 text-center text-black bg-center rounded-lg fill-current bg-gradient-to-tl from-gray-900 to-slate-800 dark:bg-gradient-to-tl dark:from-slate-850 dark:to-gray-850 stroke-none">
                  <i class="ni leading-none ni-planet text-lg relative top-3.5 text-white opacity-100"></i>
                </div>
              </div>
              <div class="ml-4">
                <div>
                  <p class="mb-0 font-semibold leading-normal capitalize text-sm dark:text-white/60">Sessions</p>
                  <h5 class="mb-0 font-bold dark:text-white">
                    9,600
                    <span class="font-bold leading-normal text-sm text-lime-500">+15%</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full max-w-full px-3 mt-6 flex-0 md:w-6/12 lg:mt-0 lg:w-4/12">
        <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
          <div class="flex-auto p-4">
            <div class="flex">
              <div>
                <div class="inline-block w-12 h-12 text-center text-black bg-center rounded-lg fill-current bg-gradient-to-tl from-gray-900 to-slate-800 dark:bg-gradient-to-tl dark:from-slate-850 dark:to-gray-850 stroke-none">
                  <i class="ni leading-none ni-world text-lg relative top-3.5 text-white opacity-100"></i>
                </div>
              </div>
              <div class="ml-4">
                <div>
                  <p class="mb-0 font-semibold leading-normal capitalize text-sm dark:text-white/60">today's users</p>
                  <h5 class="mb-0 font-bold dark:text-white">
                    2,300
                    <span class="font-bold leading-normal text-sm text-lime-500">+3%</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="relative flex flex-col min-w-0 mt-6 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
          <div class="flex-auto p-4">
            <div class="flex">
              <div>
                <div class="inline-block w-12 h-12 text-center text-black bg-center rounded-lg fill-current bg-gradient-to-tl from-gray-900 to-slate-800 dark:bg-gradient-to-tl dark:from-slate-850 dark:to-gray-850 stroke-none">
                  <i class="ni leading-none ni-shop text-lg relative top-3.5 text-white opacity-100"></i>
                </div>
              </div>
              <div class="ml-4">
                <div>
                  <p class="mb-0 font-semibold leading-normal capitalize text-sm dark:text-white/60">sign-ups</p>
                  <h5 class="mb-0 font-bold dark:text-white">
                    348
                    <span class="font-bold leading-normal text-sm text-lime-500">+12%</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 flex-0 lg:mt-0 lg:w-4/12">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-4 pb-0">
        <div class="flex flex-wrap -mx-3">
          <div class="flex w-8/12 max-w-full px-3 flex-0">
            <div>
              <img src="../../../assets/img/team-3.jpg" alt="avatar image" class="inline-flex items-center justify-center mr-2 text-white transition-all duration-200 text-sm ease-soft-in-out h-9 w-9 rounded-xl" />
            </div>
            <div class="flex flex-col justify-center">
              <h6 class="mb-0 leading-normal text-sm dark:text-white">Lucas Prila</h6>
              <p class="leading-tight text-xs dark:text-white/60">2h ago</p>
            </div>
          </div>
          <div class="w-4/12 max-w-full px-3 flex-0">
            <span class="bg-gradient-to-tl from-blue-600 to-cyan-400 py-2.2 px-3.6 text-xs rounded-1.8 float-right ml-auto inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">Recommendation</span>
          </div>
        </div>
      </div>

      <div class="flex-auto p-4 pt-1">
        <h6 class="dark:text-white">I need a Ruby developer for my new website.</h6>
        <p class="leading-normal text-sm dark:text-white/60">The website was initially built in PHP, I need a professional ruby programmer to shift it.</p>
        <div class="flex p-4 rounded-xl bg-gray-50 dark:bg-gray-600">
          <h4 class="my-auto dark:text-white"><span class="mr-1 leading-normal text-sm text-slate-400 dark:text-white/80">$</span>3,000<span class="ml-1 leading-normal text-sm text-slate-400 dark:text-white/80">/ month </span></h4>
          <a href="javascript:;" class="inline-block px-6 py-3 mb-0 ml-auto font-bold text-center uppercase align-middle transition-all bg-transparent border border-solid rounded-lg shadow-none cursor-pointer leading-pro text-xs ease-soft-in tracking-tight-soft active:opacity-85 active:shadow-soft-xs hover:scale-102 border-slate-700 text-slate-700 hover:border-slate-700 hover:bg-transparent hover:opacity-75 active:border-slate-700 active:bg-slate-700 active:text-white">APPLY</a>
        </div>
      </div>
    </div>
  </div>
</div>