<div class="max-w-full px-3 pt-12 text-center md:w-1/12 md:flex-none lg:ml-12 lg:pt-0">
  <a href="javascript:;" class="items-center justify-center block w-12 h-12 mx-auto mb-4 text-base text-white align-middle transition-all duration-200 border-0 ease-soft-in-out rounded-xl" data-target="tooltip_trigger" >
    <img class="w-full rounded-xl" alt="Image placeholder" src="../../../assets/img/team-1.jpg" />
  </a>
  <div data-target="tooltip" id="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg z-110" data-popper-placement="right">
    My Profile
    <div class="invisible absolute -right-2 h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
  </div>
  <button class="block p-2 mx-auto mb-4 text-xs font-bold tracking-tight text-center text-black uppercase align-middle transition-all duration-200 bg-white border-0 border-white cursor-pointer hover:scale-102 hover:shadow-soft-xs active:opacity-85 leading-pro ease-soft-in shadow-soft-md bg-150 rounded-xl bg-x-25" type="button" data-target="tooltip_trigger" >
    <i class="p-2 fas fa-home"></i>
  </button>
  <div data-target="tooltip" id="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg z-110" data-popper-placement="right">
    Home
    <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
  </div>
  <button class="block p-2 mx-auto mb-4 text-xs font-bold tracking-tight text-center text-black uppercase align-middle transition-all duration-200 bg-white border-0 border-white cursor-pointer hover:scale-102 hover:shadow-soft-xs active:opacity-85 leading-pro ease-soft-in shadow-soft-md bg-150 rounded-xl bg-x-25" type="button" data-target="tooltip_trigger" >
    <i class="p-2 fas fa-search"></i>
  </button>
  <div data-target="tooltip" id="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg z-110" data-popper-placement="right">
    Search
    <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
  </div>
  <button class="block p-2 mx-auto mb-4 text-xs font-bold tracking-tight text-center text-black uppercase align-middle transition-all duration-200 bg-white border-0 border-white cursor-pointer hover:scale-102 hover:shadow-soft-xs active:opacity-85 leading-pro ease-soft-in shadow-soft-md bg-150 rounded-xl bg-x-25" type="button" data-target="tooltip_trigger" >
    <i class="p-2 fas fa-ellipsis-h"></i>
  </button>
  <div data-target="tooltip" id="tooltip" class="hidden px-2 py-1 text-sm text-white bg-black rounded-lg z-110" data-popper-placement="right">
    Minimize
    <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']" data-popper-arrow></div>
  </div>
</div>