<div class="flex flex-wrap mt-12 -mx-3">
  <div class="w-full max-w-full px-3 flex-0">
    <h5 class="ml-4 dark:text-white">Other Products</h5>
    <div class="w-full mb-4 overflow-x-auto align-top border-gray-200 text-slate-500">
      <table class="items-center justify-center w-full mb-0 align-top border-gray-200 text-slate-500 dark:text-white/80">
        <thead class="align-bottom">
          <tr>
            <th class="px-6 py-3 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Product</th>
            <th class="px-6 py-3 pl-2 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Price</th>
            <th class="px-6 py-3 pl-2 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Review</th>
            <th class="px-6 py-3 font-bold text-center uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 opacity-70 whitespace-nowrap tracking-none">Availability</th>
            <th class="px-6 py-3 font-bold text-center uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 opacity-70 whitespace-nowrap tracking-none">ID</th>
          </tr>
        </thead>
        <tbody class="align-top">
          <tr>
            <td class="p-2 align-middle border-b border-solid whitespace-nowrap border-inherit">
              <div class="flex px-2 py-1">
                <div>
                  <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/black-chair.jpg" alt="product image">
                </div>
                <div class="flex flex-col justify-center">
                  <h6 class="mb-0 leading-normal dark:text-white text-sm">Christopher Knight Home</h6>
                </div>
              </div>
            </td>
            <td class="p-2 align-middle border-b border-solid whitespace-nowrap border-inherit">
              <p class="mb-0 leading-normal text-slate-400 text-sm">$89.53</p>
            </td>
            <td class="p-2 align-middle border-b border-solid whitespace-nowrap border-inherit">
              <div class="float-left border-0 lg:-ml-6">
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star-half-alt" aria-hidden="true"></i>
              </div>
            </td>
            <td class="p-2 leading-normal align-middle border-b border-solid text-sm whitespace-nowrap border-inherit">
              <div class="h-0.75 w-30 text-xs flex overflow-visible rounded-lg bg-gray-200 mx-auto">
                <div class="transition-width w-4/5 duration-600 ease-soft rounded-1 -mt-0.4 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap bg-gradient-to-tl from-green-600 to-lime-400 text-center text-white"></div>
              </div>                              
            </td>
            <td class="p-2 text-center align-middle border-b border-solid whitespace-nowrap border-inherit">
              <span class="leading-normal text-slate-400 text-sm">230019</span>
            </td>
          </tr>
          <tr>
            <td class="p-2 align-middle border-b border-solid whitespace-nowrap border-inherit">
              <div class="flex px-2 py-1">
                <div>
                  <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-pink.jpg" alt="product image">
                </div>
                <div class="flex flex-col justify-center">
                  <h6 class="mb-0 leading-normal dark:text-white text-sm">Bar Height Swivel Barstool</h6>
                </div>
              </div>
            </td>
            <td class="p-2 align-middle border-b border-solid whitespace-nowrap border-inherit">
              <p class="mb-0 leading-normal text-slate-400 text-sm">$99.99</p>
            </td>
            <td class="p-2 align-middle border-b border-solid whitespace-nowrap border-inherit">
              <div class="float-left border-0 lg:-ml-6">
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
              </div>
            </td>
            <td class="p-2 leading-normal align-middle border-b border-solid text-sm whitespace-nowrap border-inherit">
              <div class="h-0.75 w-30 text-xs flex overflow-visible rounded-lg bg-gray-200 mx-auto">
                <div class="transition-width w-9/10 duration-600 ease-soft rounded-1 -mt-0.4 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap bg-gradient-to-tl from-green-600 to-lime-400 text-center text-white"></div>
              </div>                              
            </td>
            <td class="p-2 text-center align-middle border-b border-solid whitespace-nowrap border-inherit">
              <span class="leading-normal text-slate-400 text-sm">87120</span>
            </td>
          </tr>
          <tr>
            <td class="p-2 align-middle border-b border-solid whitespace-nowrap border-inherit">
              <div class="flex px-2 py-1">
                <div>
                  <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-steel.jpg" alt="product image">
                </div>
                <div class="flex flex-col justify-center">
                  <h6 class="mb-0 leading-normal dark:text-white text-sm">Signature Design by Ashley</h6>
                </div>
              </div>
            </td>
            <td class="p-2 align-middle border-b border-solid whitespace-nowrap border-inherit">
              <p class="mb-0 leading-normal text-slate-400 text-sm">$129.00</p>
            </td>
            <td class="p-2 align-middle border-b border-solid whitespace-nowrap border-inherit">
              <div class="float-left border-0 lg:-ml-6">
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star-half-alt" aria-hidden="true"></i>
              </div>
            </td>
            <td class="p-2 leading-normal align-middle border-b border-solid text-sm whitespace-nowrap border-inherit">
              <div class="h-0.75 w-30 text-xs flex overflow-visible rounded-lg bg-gray-200 mx-auto">
                <div class="transition-width w-3/5 duration-600 ease-soft rounded-1 -mt-0.4 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap bg-gradient-to-tl from-red-500 to-yellow-400 text-center text-white"></div>
              </div>                              
            </td>
            <td class="p-2 text-center align-middle border-b border-solid whitespace-nowrap border-inherit">
              <span class="leading-normal text-slate-400 text-sm">412301</span>
            </td>
          </tr>
          <tr>
            <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
              <div class="flex px-2 py-1">
                <div>
                  <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-wood.jpg" alt="product image">
                </div>
                <div class="flex flex-col justify-center">
                  <h6 class="mb-0 leading-normal dark:text-white text-sm">Modern Square</h6>
                </div>
              </div>
            </td>
            <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
              <p class="mb-0 leading-normal text-slate-400 text-sm">$59.99</p>
            </td>
            <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
              <div class="float-left border-0 lg:-ml-6">
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star-half-alt" aria-hidden="true"></i>
              </div>
            </td>
            <td class="p-2 leading-normal align-middle border-b-0 border-solid text-sm whitespace-nowrap border-inherit">
              <div class="h-0.75 w-30 text-xs flex overflow-visible rounded-lg bg-gray-200 mx-auto">
                <div class="transition-width w-2/5 duration-600 ease-soft rounded-1 -mt-0.4 -ml-px flex h-1.5 flex-col justify-center overflow-hidden whitespace-nowrap bg-gradient-to-tl from-red-500 to-yellow-400 text-center text-white"></div>
              </div>                              
            </td>
            <td class="p-2 text-center align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
              <span class="leading-normal text-slate-400 text-sm">001992</span>
            </td>
          </tr>
        </tbody>
      </table>                      
    </div>
  </div>
</div>