<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 shrink-0 lg:flex-0 lg:w-4/12">
    <div class="relative flex flex-col h-full min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <h5 class="font-bold dark:text-white">Product Image</h5>
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 flex-0">
            <img class="w-full mt-4 rounded-xl shadow-soft-3xl" src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="product_image">
          </div>
          <div class="w-full max-w-full px-3 mt-6 flex-0">
            <div class="flex">
              <button type="button" class="inline-block px-8 py-2 mr-2 text-xs font-bold text-center text-white uppercase align-middle transition-all border-0 rounded-lg cursor-pointer ease-soft-in leading-pro tracking-tight-soft bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85">Edit</button>
              <button type="button" class="inline-block px-8 py-2 font-bold text-center uppercase align-middle transition-all bg-transparent border border-solid rounded-lg shadow-none cursor-pointer active:opacity-85 leading-pro text-xs ease-soft-in tracking-tight-soft bg-150 bg-x-25 hover:scale-102 active:shadow-soft-xs border-slate-700 dark:border-white dark:text-white dark:hover:text-white dark:active:border-white dark:hover:active:border-white dark:active:hover:text-white text-slate-700 hover:text-slate-700 hover:opacity-75 hover:shadow-none active:scale-100 active:border-slate-700 active:bg-slate-700 active:text-white hover:active:border-slate-700 hover:active:text-slate-700 hover:active:opacity-75">Remove</button>                      
            </div>
          </div>
        </div>                
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 shrink-0 lg:flex-0 lg:w-8/12 lg:mt-0">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <h5 class="font-bold dark:text-white">Product Information</h5>
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 flex-0 sm:w-6/12">
            <label class="mt-6 mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="ProductName">Name</label>
            <input type="text" name="ProductName" value="Minimal Bar Stool" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
          </div>
          <div class="w-full max-w-full px-3 mt-4 flex-0 sm:w-6/12 sm:mt-0">
            <label class="mt-6 mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Weight">Weight</label>
            <input type="number" name="Weight" value="2" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3">
          <div class="w-3/12 max-w-full px-3 flex-0">
            <label class="mt-6 mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Collection">Collection</label>
            <input type="text" name="Collection" value="Summer" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
          </div>
          <div class="w-3/12 max-w-full px-3 flex-0">
            <label class="mt-6 mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Price">Price</label>
            <input type="text" name="Price" value="$90" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
          </div>
          <div class="w-3/12 max-w-full px-3 flex-0">
            <label class="mt-6 mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Quantity">Quantity</label>
            <input type="number" name="Quantity" value="50" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 flex-0 sm:w-6/12">
            <label class="mt-6 mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Description">Description<small> (optional)</small></label>
            <div editor-quill id="editor" class="!h-1/2">
              <p>Long sleeves black denim jacket with a twisted design. Contrast stitching. Button up closure. White arrow prints on the back.</p>
            </div>
          </div>
          <div class="w-full max-w-full px-3 flex-0 sm:w-6/12">
            <label class="mt-6 mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="choices-category">Category</label>
            <select choice name="choices-category" choices-select>
              <option value="Choice 1" selected="">Furniture</option>
              <option value="Choice 2">Real Estate</option>
              <option value="Choice 3">Electronics</option>
              <option value="Choice 4">Clothing</option>
              <option value="Choice 5">Others</option>
            </select>
            <label class="mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="choices-color">Color</label>
            <select choice name="choices-color" choices-select>
              <option value="Choice 1" selected="">Black</option>
              <option value="Choice 2">White</option>
              <option value="Choice 3">Blue</option>
              <option value="Choice 4">Orange</option>
              <option value="Choice 5">Green</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>