---
---
<!--
=========================================================
* Soft UI Dashboard Pro Tailwind - v1.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard-pro-tailwind
* Copyright 2024 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include path/path-assets.html %}
    {% include head.html %}
  </head>
    {% if page.auth_type == "basic" %}
    <body class="{{ page.class }} m-0 font-sans antialiased font-normal text-left leading-default text-base dark:bg-slate-950 bg-gray-50 text-slate-500 dark:text-white/80">
    {% elsif page.auth_type == "cover" or page.auth_type == "illustration" %}
    <body class="{{ page.class }} m-0 font-sans antialiased font-normal text-left bg-white leading-default text-base dark:bg-slate-950 text-slate-500 dark:text-white/80">
    {% endif %}

    {% if page.auth_type == "basic" %}
    {% include components/navbars/navbar-auth-transparent.html %}
    {% elsif page.auth_type == "cover" or page.auth_type == "illustration" %}
    {% include components/navbars/navbar-auth.html %}
    {% elsif page.auth_type == "error" %}
    {% include components/navbars/navbar-error.html %}
    {% endif %}

    <main class="mt-0 transition-all duration-200 ease-soft-in-out">
      {{ content }}
    </main>
    {% include footer-auth.html %}

    <!-- main script file  -->
    <script src="../../../assets/js/soft-ui-dashboard-pro-tailwind.js?v=1.1.0"></script>
  </body>
</html>
