---
---
<!--
=========================================================
* Soft UI Dashboard Pro Tailwind - v1.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard-pro-tailwind
* Copyright 2024 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
  {% include path/path-assets.html %}

  {% include head.html %}
  <body class="m-0 font-sans antialiased font-normal text-left leading-default text-base dark:bg-slate-950 bg-gray-50 text-slate-500 dark:text-white/80">
    <!-- Navbar -->
    {% include components/navbars/navbar-pricing.html %}
    
    <!-- Content -->
    {{ content }}

    <!-- Footer -->
    {% include footer-auth.html %}
    {% include fixed-plugin.html %}
  </body>

  <!--   Core JS Files   -->
  <script src="../../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <!-- main script file  -->
  <script src="../../assets/js/soft-ui-dashboard-pro-tailwind.js?v=1.1.0"></script>
</html>