---
---
<!--
=========================================================
* Soft UI Dashboard Pro Tailwind - v1.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard-pro-tailwind
* Copyright 2024 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
  {% include path/path-assets.html %}
  
  {% include head.html %}
  <body class="m-0 font-sans antialiased font-normal text-left leading-default text-base dark:bg-slate-950 bg-gray-50 text-slate-500 dark:text-white">
    <div>
      <!-- Navbar -->
      {% include components/navbars/navbar.html %}
    </div>

    <div class="relative mx-4 mt-4 rounded-2xl bg-[url('../img/vr-bg.jpg')] bg-cover">
      <!-- sidenav -->
      {% include components/sidenav/sidenav-vr.html %}
      <main class="mt-1 transition-all duration-200 ease-soft-in-out xl:ml-68 rounded-xl">          
        <!-- Content -->
        {{ content }}      
         
        <!-- Footer -->
        {% include footer.html %}
      </main>
    </div>
    {% include fixed-plugin.html %}
  </body>
  <!--   Core JS Files   -->
  <script src="{{ path-general }}/assets/js/plugins/chartjs.min.js"></script>
  <script src="{{ path-general }}/assets/js/plugins/threejs.js"></script>
  <script src="{{ path-general }}/assets/js/plugins/orbit-controls.js"></script>
  <script src="{{ path-general }}/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <!-- main script file  -->
  <script src="{{ path-general }}/assets/js/soft-ui-dashboard-pro-tailwind.js?v=1.1.0"></script>
</html>