<div class="w-full max-w-full px-3 mt-6 flex-0">
  <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">

    <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-4 pb-0">
      <h6 class="dark:text-white">Top Referred Users</h6>
    </div>
  
    <div class="flex-auto p-0 pb-2">
      <div class="w-full overflow-x-auto align-top border-gray-200 text-slate-500">
        <table class="items-center justify-center w-full mb-0 align-top border-gray-200 text-slate-500 dark:text-white/80">
          <thead class="align-bottom">
            <tr>
              <th class="px-6 py-3 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 dark:text-white opacity-70 whitespace-nowrap tracking-none">User</th>
              <th class="px-6 py-3 pl-2 font-bold uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 dark:text-white opacity-70 whitespace-nowrap tracking-none">Value</th>
              <th class="px-6 py-3 font-bold text-center uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 dark:text-white opacity-70 whitespace-nowrap tracking-none">Profit</th>
              <th class="px-6 py-3 font-bold text-center uppercase align-middle border-b border-gray-200 border-solid text-xxs text-slate-400 dark:text-white opacity-70 whitespace-nowrap tracking-none">Refunds</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <div class="flex px-4 py-1">
                  <div>
                    <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="../../assets/img/team-1.jpg" alt="avatar image">
                  </div>
                  <div class="flex flex-col justify-center">
                    <h6 class="mb-0 leading-normal dark:text-white text-sm">Alice Vinget</h6>
                    <p class="mb-0 font-semibold leading-normal text-sm text-slate-400"><span class="text-lime-500">8.232</span> orders</p>
                  </div>
                </div>
              </td>
              <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$130.992</p>
              </td>
              <td class="p-2 text-center align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$9.500</p>
              </td>
              <td class="p-2 text-right align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <div class="flex items-center justify-center px-4 py-1">
                  <p class="mb-0 font-semibold leading-normal text-sm">13</p>
                  <i class="mt-1 ml-1 leading-normal ni leading-none ni-bold-down text-sm text-lime-500"></i>
                  <button type="button" class="active:shadow-soft-xs ml-4 active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl p-1.2 h-6 w-6 mb-0 flex cursor-pointer items-center justify-center border border-solid border-slate-400 bg-transparent text-center align-middle font-bold text-slate-400 shadow-none transition-all hover:bg-transparent hover:text-slate-400 hover:opacity-75 hover:shadow-none active:bg-slate-400 active:text-black hover:active:bg-transparent hover:active:text-slate-400 hover:active:opacity-75 hover:active:shadow-none">
                    <i class="fas fa-info text-3xs" aria-hidden="true"></i>
                  </button>
                </div>
              </td>                        
            </tr>
            <tr>
              <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <div class="flex px-4 py-1">
                  <div>
                    <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="../../assets/img/team-2.jpg" alt="avatar image">
                  </div>
                  <div class="flex flex-col justify-center">
                    <h6 class="mb-0 leading-normal dark:text-white text-sm">John Alura</h6>
                    <p class="mb-0 font-semibold leading-normal text-sm text-slate-400">
                      <span class="text-lime-500">12.821</span>
                      orders
                    </p>
                  </div>
                </div>
              </td>
              <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$80.250</p>
              </td>
              <td class="p-2 text-center align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$4.200</p>
              </td>
              <td class="p-2 text-right align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <div class="flex items-center justify-center px-4 py-1">
                  <p class="mb-0 font-semibold leading-normal text-sm">40</p>
                  <i class="mt-1 ml-1 leading-normal ni leading-none ni-bold-down text-sm text-lime-500"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <div class="flex px-4 py-1">
                  <div>
                    <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="../../assets/img/team-3.jpg" alt="avatar image">
                  </div>
                  <div class="flex flex-col justify-center">
                    <h6 class="mb-0 leading-normal dark:text-white text-sm">Andrew Sian</h6>
                    <p class="mb-0 font-semibold leading-normal text-sm text-slate-400">
                      <span class="text-lime-500">2.421</span>
                      orders
                    </p>
                  </div>
                </div>
              </td>
              <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$40.600</p>
              </td>
              <td class="p-2 text-center align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$9.430</p>
              </td>
              <td class="p-2 text-right align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <div class="flex items-center justify-center px-4 py-1">
                  <p class="mb-0 font-semibold leading-normal text-sm">54</p>
                  <i class="mt-1 ml-1 leading-normal text-red-500 ni leading-none ni-bold-up text-sm"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <div class="flex px-4 py-1">
                  <div>
                    <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="../../assets/img/team-4.jpg" alt="avatar image">
                  </div>
                  <div class="flex flex-col justify-center">
                    <h6 class="mb-0 leading-normal dark:text-white text-sm">Luca Willaim</h6>
                    <p class="mb-0 font-semibold leading-normal text-sm text-slate-400">
                      <span class="text-lime-500">5.921</span>
                      orders
                    </p>
                  </div>
                </div>
              </td>
              <td class="p-2 align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$91.300</p>
              </td>
              <td class="p-2 text-center align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$7.364</p>
              </td>
              <td class="p-2 text-right align-middle border-b border-solid dark:border-white/40 whitespace-nowrap border-inherit">
                <div class="flex items-center justify-center px-4 py-1">
                  <p class="mb-0 font-semibold leading-normal text-sm">5</p>
                  <i class="mt-1 ml-1 leading-normal ni leading-none ni-bold-down text-sm text-lime-500"></i>
                </div>
              </td>
            </tr>
            <tr>
              <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                <div class="flex px-4 py-1">
                  <div>
                    <img class="inline-flex items-center justify-center w-12 h-12 mr-4 text-white transition-all duration-200 text-base ease-soft-in-out rounded-xl" src="../../assets/img/team-5.jpg" alt="avatar image">
                  </div>
                  <div class="flex flex-col justify-center">
                    <h6 class="mb-0 leading-normal dark:text-white text-sm">Richel Manuel</h6>
                    <p class="mb-0 font-semibold leading-normal text-sm text-slate-400">
                      <span class="text-lime-500">921</span>
                      orders
                    </p>
                  </div>
                </div>
              </td>
              <td class="p-2 align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$140.925</p>
              </td>
              <td class="p-2 text-center align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                <p class="mb-0 font-semibold leading-normal text-sm">$20.531</p>
              </td>
              <td class="p-2 text-right align-middle border-b-0 border-solid whitespace-nowrap border-inherit">
                <div class="flex items-center justify-center px-4 py-1">
                  <p class="mb-0 font-semibold leading-normal text-sm">121</p>
                  <i class="mt-1 ml-1 leading-normal text-red-500 ni leading-none ni-bold-up text-sm"></i>
                  <button type="button" class="active:shadow-soft-xs ml-4 active:opacity-85 ease-soft-in leading-pro text-xs bg-150 bg-x-25 rounded-3.5xl p-1.2 h-6 w-6 mb-0 flex cursor-pointer items-center justify-center border border-solid border-slate-400 bg-transparent text-center align-middle font-bold text-slate-400 shadow-none transition-all hover:bg-transparent hover:text-slate-400 hover:opacity-75 hover:shadow-none active:bg-slate-400 active:text-black hover:active:bg-transparent hover:active:text-slate-400 hover:active:opacity-75 hover:active:shadow-none">
                    <i class="fas fa-info text-3xs"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>                      
      </div>                
    </div>
  </div>
</div>