<div class="fixed top-0 left-0 hidden w-full h-full overflow-x-hidden overflow-y-auto transition-opacity ease-linear opacity-0 outline-0 z-sticky" id="jkanban-info-modal" aria-hidden="true" tabindex="-1" role="dialog">
  <div class="relative w-auto my-7 pointer-events-none sm:max-w-125 sm:mx-auto transition-transform duration-300  ease-soft-out -translate-y-13">
    <div class="relative flex flex-col w-full bg-white border border-solid pointer-events-auto bg-clip-padding border-black/20 rounded-xl outline-0">
      <div class="flex items-center justify-between p-4 border-b border-solid shrink-0 border-slate-100 rounded-t-xl">
        <h5 class="mb-0">Task details</h5>
        <button type="button" data-target="#jkanban-info-modal" data-toggle="modal" class="flex items-center box-content w-4 h-4 text-slate-700 bg-transparent border-0 rounded-1.5 opacity-50 cursor-pointer p-2 -m-2 ml-auto" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="relative flex-auto p-4 pt-6">
        <input id="jkanban-task-id" class="hidden" />
        <div class="relative flex flex-wrap items-stretch w-full mb-6 transition-all rounded-lg ease-soft">
          <span class="text-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
            <i class="far fa-edit"></i>
          </span>
          <input class="pl-9 text-sm focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Task Title" type="text" id="jkanban-task-title" />
        </div>
        <div class="relative flex flex-wrap items-stretch w-full mb-6 transition-all rounded-lg ease-soft">
          <span class="text-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
            <i class="fas fa-user"></i>
          </span>
          <input class="pl-9 text-sm focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Task Assignee" type="text" id="jkanban-task-assignee" />
        </div>
        <div class="mb-4">
          <textarea class="-ml-px relative flex-auto w-full min-w-0 focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" placeholder="Task Description" id="jkanban-task-description" rows="4"></textarea>
        </div>
        <div class="relative hidden p-4 mb-4 text-white border border-solid rounded-lg border-lime-300 bg-gradient-to-tl from-green-600 to-lime-400">Changes saved!</div>
        <div class="text-right">
          <button class="inline-block px-6 py-3 m-1 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 border-transparent border-solid rounded-lg cursor-pointer leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs bg-fuchsia-500" id="jkanban-update-task" data-toggle="modal" data-target="#jkanban-info-modal">
            Save changes
          </button>
          <button data-target="#jkanban-info-modal" data-toggle="modal" class="inline-block px-6 py-3 m-1 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 border-transparent border-solid rounded-lg cursor-pointer leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs bg-slate-400" data-dismiss="modal" data-target="#jkanban-info-modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed inset-0 z-40 hidden bg-black opacity-50" id="jkanban-info-modal-backdrop"></div>