<section>
  <div class="relative flex items-center p-0 overflow-hidden bg-center bg-cover min-h-75-screen">
    <div class="container z-1">
      <div class="flex flex-wrap -mx-3">
        <div class="flex flex-col w-full max-w-full px-3 mx-auto shrink-0 md:flex-0 md:w-6/12 lg:w-5/12 xl:w-4/12">

          <div class="relative flex flex-col min-w-0 break-words bg-transparent border-0 shadow-none dark:bg-gray-950 rounded-2xl bg-clip-border">
            <div class="flex-auto p-6 text-center lg:px-12 lg:py-12">
              <div class="mb-6">
                <div class="mb-6 text-center text-slate-500">
                  <h2>2-Step Verification</h2>
                </div>
                <div class="flex flex-wrap -mx-1 sm:-mx-2">
                  <div class="w-full max-w-full px-3 flex-1-0">
                    <div class="mb-4">
                      <input maxlength="1" autocapitalize="off" autocomplete="off" type="text" class="min-h-unset focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding p-3 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
                    </div>
                  </div>
                  <div class="w-full max-w-full px-3 flex-1-0">
                    <div class="mb-4">
                      <input maxlength="1" autocapitalize="off" autocomplete="off" type="text" class="min-h-unset focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding p-3 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
                    </div>
                  </div>
                  <div class="w-full max-w-full px-3 flex-1-0">
                    <div class="mb-4">
                      <input maxlength="1" autocapitalize="off" autocomplete="off" type="text" class="min-h-unset focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding p-3 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
                    </div>
                  </div>
                  <div class="w-full max-w-full px-3 flex-1-0">
                    <div class="mb-4">
                      <input maxlength="1" autocapitalize="off" autocomplete="off" type="text" class="min-h-unset focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding p-3 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="inline-block w-full px-6 py-3 mb-4 font-bold text-center text-white uppercase align-middle transition-all border-0 rounded-lg cursor-pointer hover:scale-102 active:opacity-85 hover:shadow-soft-xs bg-gradient-to-tl from-red-500 to-yellow-400 leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25">Next</button>
                  <span class="leading-normal text-slate-500 text-sm">
                    Haven't received it?
                    <a href="javascript:;">Resend a new code</a>
                    .
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full max-w-full px-3 my-auto shrink-0 md:flex-0 md:w-6/12">
          <div class="absolute top-0 hidden w-3/5 h-full -mr-32 overflow-hidden -skew-x-10 -right-40 rounded-bl-xl md:block ">
            <div class="skew-x-10 bg-cover -ml-16 h-full absolute inset-x-0 top-0 bg-[url('../../assets/img/curved-images/curved9.jpg')]" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>