<div class="flex flex-wrap mt-6 -mx-3">
  <div class="w-full max-w-full px-3 shrink-0 sm:flex-0 sm:w-4/12">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <h5 class="font-bold dark:text-white">Socials</h5>
        <label class="mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Shoppify Handle">Shoppify Handle</label>
        <input type="text" name="Shoppify Handle" placeholder="@soft" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />                
        <label class="mt-6 mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Facebook Account">Facebook Account</label>
        <input type="text" name="Facebook Account" placeholder="https://..." class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />                
        <label class="mt-6 mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Instagram Account">Instagram Account</label>
        <input type="text" name="Instagram Account" placeholder="https://..." class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />                
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 shrink-0 sm:flex-0 sm:w-8/12 sm:mt-0">
    <div class="relative flex flex-col min-w-0 break-words bg-white border-0 dark:bg-gray-950 dark:shadow-soft-dark-xl shadow-soft-xl rounded-2xl bg-clip-border">
      <div class="flex-auto p-6">
        <div class="flex flex-wrap -mx-3">
          <h5 class="w-full max-w-full px-3 font-bold dark:text-white shrink-0">Pricing</h5>
          <div class="w-3/12 max-w-full px-3 flex-0">
            <label class="mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Price">Price</label>
            <input type="number" name="Price" value="99.00" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />                    
          </div>
          <div class="w-4/12 max-w-full px-3 flex-0">
            <label class="mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Currency">Currency</label>
            <select  name="choices-sizes" choices-select>
              <option value="Choice 1" selected="">USD</option>
              <option value="Choice 2">EUR</option>
              <option value="Choice 3">GBP</option>
              <option value="Choice 4">CNY</option>
              <option value="Choice 5">INR</option>
              <option value="Choice 6">BTC</option>
            </select>
          </div>
          <div class="w-5/12 max-w-full px-3 flex-0">
            <label class="mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="SKU">SKU</label>
            <input type="text" name="SKU" value="71283476591" class="focus:shadow-soft-primary-outline dark:bg-gray-950 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3">
          <div class="w-full max-w-full px-3 flex-0">
            <label class="mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white/80" for="Tags">Tags</label>
            <input choice name="Tags" id="choices-multiple-remove-button" type="text" value="In Stock, Out of Stock" placeholder="Enter something" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>