<div class="flex flex-wrap -mx-3">
  <div class="flex-shrink-0 w-full max-w-full px-3 xl:flex-0 xl:w-7/12">
    <div class="border-black/12.5 dark:shadow-soft-dark-xl shadow-soft-xl dark:bg-gray-950 relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
      <div class="border-b-black/12.5 flex rounded-t-2xl border-b-0 border-solid p-4 pb-0">
        <h6 class="my-auto dark:text-white">Cameras</h6>
        <div class="relative w-1/2 ml-auto">
          <ul class="relative flex flex-wrap p-1 mb-0 list-none rounded-xl bg-gray-50" nav-pills role="tablist" aria-controls="camera-gallery">
            <li class="z-30 flex-auto text-center">
              <a nav-link active class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none dark:text-white" href="javascript:;" role="tab" aria-controls="cam1" aria-selected="true"> Kitchen </a>
            </li>
            <li class="z-30 flex-auto text-center">
              <a nav-link class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none" href="javascript:;" role="tab" aria-controls="cam2" aria-selected="false"> Living </a>
            </li>
            <li class="z-30 flex-auto text-center">
              <a nav-link class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none" href="javascript:;" role="tab" aria-controls="cam3" aria-selected="false"> Attic </a>
            </li>
          </ul>
        </div>
        <div class="relative pt-2">
          <a href="javascript:;" dropdown-trigger class="pl-6 cursor-pointer text-slate-400 dark:text-white dark:opacity-80" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </a>
          <ul dropdown-menu class="z-100 min-w-44 text-sm shadow-soft-3xl duration-250 transform-dropdown before:duration-350 before:font-awesome before:ease-soft before:text-5.5 dark:bg-gray-950 pointer-events-none absolute top-0 right-0 left-auto m-0 mt-2 block origin-top cursor-pointer list-none rounded-lg border-0 border-solid border-transparent bg-white bg-clip-padding px-2 py-4 text-left text-slate-500 opacity-0 transition-all will-change-transform before:absolute before:top-0 before:right-5 before:left-auto before:z-40 before:text-white before:transition-all before:content-['\f0d8'] sm:-mr-6">
            <li class="relative"><a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-slate-500 transition-colors hover:bg-gray-200 hover:text-slate-700 focus:bg-gray-200 focus:text-slate-700 dark:text-white dark:hover:bg-gray-200/80 dark:hover:text-slate-700 lg:duration-300" href="javascript:;">Pause</a></li>
            <li class="relative"><a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-slate-500 transition-colors hover:bg-gray-200 hover:text-slate-700 focus:bg-gray-200 focus:text-slate-700 dark:text-white dark:hover:bg-gray-200/80 dark:hover:text-slate-700 lg:duration-300" href="javascript:;">Stop</a></li>
            <li class="relative"><a class="py-1.2 lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-slate-500 transition-colors hover:bg-gray-200 hover:text-slate-700 focus:bg-gray-200 focus:text-slate-700 dark:text-white dark:hover:bg-gray-200/80 dark:hover:text-slate-700 lg:duration-300" href="javascript:;">Schedule</a></li>
            <li class="relative">
              <hr class="h-px my-2 bg-gradient-to-r from-transparent via-black/40 to-transparent" />
            </li>
            <li class="relative"><a class="py-1.2 text-danger lg:ease-soft clear-both block w-full whitespace-nowrap rounded-lg px-4 font-normal text-red-600 transition-colors hover:bg-gray-200 focus:bg-gray-200 dark:hover:bg-gray-200/80 lg:duration-300" href="javascript:;">Remove</a></li>
          </ul>
        </div>
      </div>
      <div class="flex-auto p-4 mt-2">
        <div camera-gallery>
          <div active class="h-100 relative block rounded-xl bg-[url('../../assets/img/bg-smart-home-1.jpg')] bg-cover transition-opacity duration-300 ease-linear" id="cam1">
            <div class="absolute top-0 flex w-full">
              <p class="p-4 mb-0 text-white">17.05.2021 4:34PM</p>
              <div class="p-4 ml-auto">
                <span class="py-2.2 px-3.6 text-xs rounded-1.8 inline-block whitespace-nowrap bg-slate-200 text-center align-baseline font-bold uppercase leading-none text-slate-650">
                  <i class="text-red-600 fas fa-dot-circle"></i>
                  Recording</span
                >
              </div>
            </div>
          </div>
          <div class="h-100 relative hidden rounded-xl bg-[url('../../assets/img/bg-smart-home-2.jpg')] bg-cover opacity-0 transition-opacity duration-300 ease-linear" id="cam2">
            <div class="absolute top-0 flex w-full">
              <p class="p-4 mb-0 text-white">17.05.2021 4:35PM</p>
              <div class="p-4 ml-auto">
                <span class="py-2.2 px-3.6 text-xs rounded-1.8 inline-block whitespace-nowrap bg-slate-200 text-center align-baseline font-bold uppercase leading-none text-slate-650">
                  <i class="text-red-600 fas fa-dot-circle"></i>
                  Recording</span
                >
              </div>
            </div>
          </div>
          <div class="h-100 relative hidden rounded-xl bg-[url('../../assets/img/home-decor-3.jpg')] bg-cover opacity-0 transition-opacity duration-300 ease-linear" id="cam3">
            <div class="absolute top-0 flex w-full">
              <p class="p-4 mb-0 text-white">17.05.2021 4:57PM</p>
              <div class="p-4 ml-auto">
                <span class="py-2.2 px-3.6 text-xs rounded-1.8 inline-block whitespace-nowrap bg-slate-200 text-center align-baseline font-bold uppercase leading-none text-slate-650">
                  <i class="text-red-600 fas fa-dot-circle"></i>
                  Recording</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-full px-3 mt-6 ml-auto xl:flex-0 shrink-0 xl:mt-0 xl:w-5/12">
    <div class="flex flex-wrap -mx-3">
      <div class="w-full max-w-full px-3 flex-0">
        <div class="border-black/12.5 shadow-soft-xl dark:shadow-soft-dark-xl bg-gradient-to-tl from-purple-700 to-pink-500 dark:bg-gray-950 relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border dark:bg-none">
          <div class="flex-auto p-4">
            <div class="flex flex-wrap -mx-3">
              <div class="w-8/12 max-w-full px-3 my-auto flex-0">
                <div class="numbers">
                  <p class="mb-0 text-sm font-semibold leading-normal text-white capitalize opacity-70">Wheather today</p>
                  <h5 class="mb-0 font-bold text-white">San Francisco - 29°C</h5>
                </div>
              </div>
              <div class="w-4/12 max-w-full px-3 text-right flex-0">
                <img class="w-1/2" src="../../assets/img/small-logos/icon-sun-cloud.png" alt="image sun" />
                <h5 class="mb-0 mr-1 text-right text-white">Cloudy</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap mt-6 -mx-3">
      <div class="w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
        <div class="border-black/12.5 dark:shadow-soft-dark-xl shadow-soft-xl dark:bg-gray-950 relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
          <div class="flex-auto p-6 text-center">
            <h1 class="relative z-10 text-transparent bg-gradient-to-tl from-purple-700 to-pink-500 bg-clip-text"><span id="status1" countTo="21">21</span> <span class="-ml-2 text-lg">°C</span></h1>
            <h6 class="mb-0 font-bold dark:text-white">Living Room</h6>
            <p class="mb-0 text-sm leading-normal opacity-80">Temperature</p>
          </div>
        </div>
      </div>
      <div class="w-full max-w-full px-3 mt-6 md:flex-0 shrink-0 md:mt-0 md:w-6/12">
        <div class="border-black/12.5 dark:shadow-soft-dark-xl shadow-soft-xl dark:bg-gray-950 relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
          <div class="flex-auto p-6 text-center">
            <h1 class="relative z-10 text-transparent bg-gradient-to-tl from-purple-700 to-pink-500 bg-clip-text"><span id="status2" countTo="44">44</span> <span class="-ml-1 text-lg">%</span></h1>
            <h6 class="mb-0 font-bold dark:text-white">Outside</h6>
            <p class="mb-0 text-sm leading-normal opacity-80">Humidity</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap mt-6 -mx-3">
      <div class="w-full max-w-full px-3 md:flex-0 shrink-0 md:w-6/12">
        <div class="border-black/12.5 dark:shadow-soft-dark-xl shadow-soft-xl dark:bg-gray-950 relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
          <div class="flex-auto p-6 text-center">
            <h1 class="relative z-10 text-transparent bg-gradient-to-tl from-purple-700 to-pink-500 bg-clip-text"><span id="status3" countTo="87">87</span> <span class="-ml-2 text-lg">m³</span></h1>
            <h6 class="mb-0 font-bold dark:text-white">Water</h6>
            <p class="mb-0 text-sm leading-normal opacity-80">Consumption</p>
          </div>
        </div>
      </div>
      <div class="w-full max-w-full px-3 mt-6 md:flex-0 shrink-0 md:mt-0 md:w-6/12">
        <div class="border-black/12.5 dark:shadow-soft-dark-xl shadow-soft-xl dark:bg-gray-950 relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
          <div class="flex-auto p-6 text-center">
            <h1 class="relative z-10 text-transparent bg-gradient-to-tl from-purple-700 to-pink-500 bg-clip-text"><span id="status4" countTo="417">417</span> <span class="-ml-2 text-lg">GB</span></h1>
            <h6 class="mb-0 font-bold dark:text-white">Internet</h6>
            <p class="mb-0 text-sm leading-normal opacity-80">All devices</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>